<!DOCTYPE html>
<html lang="pt">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MS3SPVX");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Site sobre Games e Jogos" />
    <meta name="author" content="Ramon Barros" />
    <title>Nooberando</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <link href="../css/index.css" rel="stylesheet" />
    <link href="../css/character.css" rel="stylesheet" />
    <style>
      #more {display: none;}
      </style>
    <script
      data-ad-client="ca-pub-2764098734610196"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
  </head>
  <body id="page-top">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MS3SPVX"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->‰
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="../index.html"
          >Nooberando</a
        >
        <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top"
          >Nooberando</a
        > -->
        <button
          class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#biografia"
                >Biografia</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#combate"
                >Talentos</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#constelacoes"
                >Constelaçōes</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#build"
                >Build</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#ascension"
                >Ascençāo</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br>  
    <img src="../assets/img/genshinFive.jpg" class="testImg" alt="">
    <div class="container">     
      <img class="charImg" src="../assets/img/genshin/characters/barbara/barbaraLarge.png" alt="chongyun">
    </div>
    <header class="masthead bg-custom text-white text-center" style="clear: both;">
      <!-- Masthead Heading-->
      <section class="page-section portfolio" id="personagem">
        
        <div class="container">
          
          <a class="arrow-down js-scroll-trigger" href="#personagem"></a>
          <div class="card bg-dark mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../assets/img/genshin/characters/barbara/barbaraCard.jpg" class="card-img" style="width: 60%; margin-top: 1em;" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Fischl</h5>
                  <p class="card-text">
                    <table class="table table-striped table-dark" style="color: white;">
                      <tbody>
                        <tr>
                          <th scope="col" style="text-align: left;"><span >Aniversário:</span></th>
                          <th scope="col" style="text-align: right;">5/7</th>
                        </tr>
                        <tr>
                          <th scope="col" style="text-align: left;">Afiliaçāo:</th>
                          <th scope="col" style="text-align: right;">Igreja Favonius</th>
                        </tr>
                        <tr>
                          <th scope="col" style="text-align: left;">Elemento:</th>
                          <th scope="col" style="text-align: right; color: #40a5db;">Hydro<img src="../assets/img/genshin/elements/hydro.png" class="ml-2" style="width: 1.5em;" alt=""></th>
                        </tr>
                        <tr>
                          <th scope="col" style="text-align: left;">Constelaçāo:</th>
                          <th scope="col" style="text-align: right;">Cratera</th>
                        </tr>
                        <tr>
                          <th scope="col" style="text-align: left;">Raridade:</th>
                          <th scope="col" style="text-align: right;">
                            <!-- Icon Divider-->
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" style="text-align: left;">Arma:</th>
                          <th scope="col" style="text-align: right;">Catalisador</th>
                        </tr>
                      </tbody>
                    </table>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">
                      "Devo tudo ao espírito de liberdade da cidade"
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>
    </header>
    <section class="masthead bg-dark text-white text-center" style="clear: both;">
      <!-- Masthead Heading-->
      <div class="page-section portfolio" id="biografia">
        
        

        <div class="container">
          <div class="" style="text-align: left"> 
            <h1 class="page-section-heading text-center text-uppercase text-white mb-4 mt-5" id="#biografia">
              Biografia:
            </h1>
              <br>
          </div>
          
          <div class="row mt-5 container">
            <div class="card-deck mt-5">
              <div class="card text-white bg-dark">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Introduçāo</h5>
                  <p class="card-text">
                    A Diaconisa da Igreja Favonius e uma estrela brilhante adorada por todos. Embora 
                    o conceito de estrela seja bastante novo em uma cidade de bardos, o povo de Mondstadt ama Barbara mesmo assim.
                  </p>
                </div>
              </div>
              <div class="card text-white bg-dark">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Personalidade</h5>
                  <p class="card-text">
                    Todos os habitantes de Mondstadt adoram Barbara. No entanto, ela aprendeu a palavra "ídolo" em uma revista. - Perfil no jogo

                    Bárbara é a diaconisa da Igreja Favonius, bem como o ídolo brilhante de Mondstadt.

                    “A visão de Bárbara faz todos os meus problemas desaparecerem”. Este é um ditado bastante comum entre os habitantes de Mondstadt.

                    Na verdade, Bárbara pode fazer muito mais do que apenas deixar as pessoas de melhor humor: <span id="dots"></span><span id="more">seus poderes de cura estendem-se a 
                    feridas na pele e outras doenças físicas. Barbara é conhecida por ter acesso a poderes de cura milagrosos por meio de sua Hydro Vision.

                    No entanto, a própria Bárbara sabe que a magia mais milagrosa de todas é o trabalho árduo. "
 
                  </span>
                  </p> 
                  <button onclick="myFunction()" id="myBtn" class="btn btn-primary">Read more</button> 
                </div>
              </div>
              <div class="card text-white bg-dark">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Aparência</h5>
                  <p class="card-text">
                    Bárbara tem uma constituição pequena e miúda, com cabelo loiro acinzentado e olhos azuis.

                    Ela usa um vestido branco que é aberto nos ombros com babados azuis e forro dourado, juntamente com meia-calça branca, sapatilhas pretas com salto em bloco e um boné azul e branco que lembra um boné de enfermeira com uma cruz dourada na frente

                    Um livro de feitiços adornado com ouro com uma capa azul clara e um pequeno pingente de cruz está pendurado ao lado dela, preso a uma tira preta presa por um aro de ouro.
                  </p>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="card bg-dark mb-3 mt-5" style="max-width: 100%;">
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <div class="card-body">
                      <h5 class="card-title">Conto Um</h5>
                      <p class="card-text">
                        Todos os habitantes de Mondstadt adoram Barbara.
                        No entanto, nem sempre foi assim. No início, as canções de Bárbara soaram estranhas para os habitantes de Mondstadt, e muitos lutaram para ver o apelo.
                        Isso porque, por muito tempo, as canções folclóricas dos bardos foram as únicas canções populares conhecidas em Mondstadt.
                        Felizmente, Mondstadt permaneceu fiel à sua reputação de Cidade da Liberdade, e as pessoas acabaram aceitando o novo enquanto continuavam a valorizar o antigo.
                        As pessoas aceitaram as canções de Bárbara e, com o tempo, sua energia positiva foi passando para elas. Logo, eles podiam ser ouvidos cantarolando suas músicas por toda Mondstadt.
                        "Albert, pare, por favor! Você está completamente desafinado!"</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img
              class="masthead-avatar mt-5"
              src="../assets/img/genshin/characters/barbara/barbaraGame.jpg"
              style="border-radius: 10px"
              alt=""
            />
            <div class="container">
              <div class="card bg-dark mb-3 mt-5" style="max-width: 100%;">
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <div class="card-body">
                      <h5 class="card-title">Conto Dois</h5>
                      <p class="card-text">Os sentimentos de Bárbara sobre seu próprio sucesso são mistos.
                        Na medida em que o dever de um ídolo é fazer com que todos a adorem, ela fez um trabalho fantástico.
                        Não há dúvida de que ela fez a escolha certa.
                        Porém, também se espera que um ídolo espalhe alegria e alivie o cansaço espiritual das pessoas ... Será que ela realmente conseguiu isso?
                        Ela cantou para a cega Glory, encorajando-a a acreditar que seu amante um dia retornaria. Ela cantou também para a doente Anna, prometendo-lhe que um dia a sua doença seria curada.
                        No entanto, os sorrisos em seus rostos nunca duram muito depois do fim da música. Isso levou Bárbara a ficar um tanto desiludida e duvidosa.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="masthead bg-custom text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="combate">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#combate">
            Talentos de Combate:
          </h1>          
          <br><br>
          <div class="card-deck mt-4">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/barbara/whisperWater.png" class="" style="width: 30%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Suspiro da Água</h5>
                <p class="card-text" style="color: #1abc9c; font-weight: 600">
                  Ataque Normal:
                </p>
                <p class="card-text">
                  Realiza até 4 ataques com esguinchos de água que infligem <span style="color: #40a5db;">Dano Hydro</span>.
                </p>
                <p class="card-text" style="color: #1abc9c; font-weight: 600">
                  Ataque Carregado:
                </p>
                <p class="card-text">
                  Consome uma certa quantidade de Stamina para infligir <span style="color: #40a5db;">Dano Hydro em um AdE</span> após um curto período de canalizaçāo.
                </p>
                <p class="card-text" style="color: #1abc9c; font-weight: 600">
                  Ataque Imersivo:
                </p>
                <p class="card-text">
                  Reunindo o poder do Hydro, Barbara mergulha em direçāo ao chāo em pleno ar, infligindo dano a todos os inimigos em seu caminho.
                  Inflige <span style="color: #40a5db;">Dano Hydro em uma AdE</span> durante o impacto com o chāo.
                </p>
              </div>
              <table class="table table-striped table-dark" style="color: white;">
                <tbody>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 1º Golpe</th>
                    <th scope="col" style="text-align: right;">37.8%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 2º Golpe</th>
                    <th scope="col" style="text-align: right;">35.5%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 3º Golpe</th>
                    <th scope="col" style="text-align: right;">41%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 4º Golpe</th>
                    <th scope="col" style="text-align: right;">55.2%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de Ataque Carregado</th>
                    <th scope="col" style="text-align: right;">166%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Consumo de Stamina de Ataque Carregado</th>
                    <th scope="col" style="text-align: right;">50</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano Durante a Queda</th>
                    <th scope="col" style="text-align: right;">56.8%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de Queda de <br> Alta/Baixa Altitude</th>
                    <th scope="col" style="text-align: right;">114% / 142%</th>
                  </tr>
                </tbody>
              </table>
              <div class="card-footer">
                <small class="">Ataque Normal</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/barbara/letShowBegin.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c;">Que Comece o Espetáculo</h5>
                <p class="card-text">Invoca Gotas d'Água em formatos de notas musicais que formam um Loop de Melodia, causando <span style="color: #40a5db;">Dano Hydro</span> 
                  aos inimigos ao redor, colocando-se em estado <span style="color: #40a5db;">Molhado</span>
                </p>
                <p class="card-text" style="color: #1abc9c;">
                  Loop de Melodia
                </p>
                <p class="card-text">
                  Os ataques Normais de Barbara curam todos os membros da equipe e os personagens aliados ao redor em certo valor de Vida
                  Seu Ataque Carregado gera 4x a quantidade de cura. Regenera uma certa quantidade da Vida atual do personagem atual em intervalos regulares.
                  Aplica o estado de <span style="color: #40a5db;">Molhado</span> ao personagem e inimigos que entrarem em contato com eles.
                </p>
                <p class="card-text text-muted" style="font-style: italic;">A música de Barbara é a mágica que cura suas companhias</p>
                  <table class="table table-striped table-dark" style="color: white;">
                    <tbody>
                      <tr>
                        <th scope="col" style="text-align: left;">Regeneraçāo de Vida por Acerto</th>
                        <th scope="col" style="text-align: right;">0.75% da vida max +72</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Regeneraçāo Continua</th>
                        <th scope="col" style="text-align: right;">4% da vida max +385</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Dando de Gotas d'Água</th>
                        <th scope="col" style="text-align: right;">58.4%</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Duração</th>
                        <th scope="col" style="text-align: right;">15s</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Tempo de Recarga</th>
                        <th scope="col" style="text-align: right;">32s</th>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="card-footer">
                <small class="">Habilidade Elemental</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/barbara/shiningMiracle.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c;">Milagre Brilhante</h5>
                <p class="card-text">Cura todas as partes e forças aliadas em uma grande quantidade de Vida que aumenta com a Vida Máxima de Barbara.</p>
                <p class="card-text text-muted" style="font-style: italic;">O desejo de Barbara de curar fortalece sua vontade de lutar e cantar.</p>
                  <table class="table table-striped table-dark" style="color: white;">
                    <tbody>
                      <tr>
                        <th scope="col" style="text-align: left;">Regeneraçāo</th>
                        <th scope="col" style="text-align: right;">17.6% da vida max + 1,694</th>
                      </tr>
                        <th scope="col" style="text-align: left;">Tempo de Recarga</th>
                        <th scope="col" style="text-align: right;">20s</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Energia Elemental</th>
                        <th scope="col" style="text-align: right;">80</th>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="card-footer">
                <small class="">Explosāo Elemental</small>
              </div>
            </div>
          </div>
          <br><br>
          <div class="container">
            <h1 class="page-section-heading text-center text-uppercase text-white mb-4 mt-5" id="#passivo">
              Talentos Passivos:
            </h1> 
            <br><br>
            <div class="card-deck mt-4">
              <div class="card text-white bg-dark">
                <img src="../assets/img/genshin/characters/barbara/gloriousSeason.png" class="" style="width: 30%; margin: auto;"  alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Temporada Gloriosa</h5>
                  <p class="card-text">
                    O Consumo de Stamina dos personagens dentro do loop da melodia de <span style="color: #1abc9c;">Que Comece o Espetáculo ♪</span> é reduzido em 12%.
                  </p>
                </div>
                <div class="card-footer">
                  <small class="">Desbloqueado na Ascensão 1</small>
                </div>
              </div>
              <div class="card text-white bg-dark">
                <img src="../assets/img/genshin/characters/barbara/encore.png" class="" style="width: 30%; margin: auto;" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Encore</h5>
                  <p class="card-text">Quando um personagem ganha um Orbe/Partícula Elemental, a duraçāo do Loop da Melodia do <span style="color: #1abc9c;">Que Comece o Espetáculo ♪</span> é extendido em 1s. 
                    A extensāo máxima é de 5s.</p>
                </div>
                <div class="card-footer">
                  <small class="">Desbloqueado na Ascensão 4</small>
                </div>
              </div>
              <div class="card text-white bg-dark">
                <img src="../assets/img/genshin/characters/barbara/Talent_With_My_Whole_Heart.png" class="mt-4 mb-2" style="width: 20%; margin: auto;" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Com Todo o Meu Coraçāo</h5>
                  <p class="card-text">Quando uma Culinária Perfeitra é feita em uma comida com efeito de recuperaçāo, tem uma chance de 12% de receber o dobro de produçāo.</p>
                </div>
                <div class="card-footer">
                  <small class="">Desbloqueado Automaticamente</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-dark text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="constelacoes">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#constelacoes">
            Constelaçōes:
          </h1> 
          <br><br>
          <div class="card-deck mt-5">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/barbara/gleefulSongs.png" class="" style="width: 30%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Balada Alegre</h5>
                <p class="card-text">Barbara regenera 1 de Energia a cada 10s.</p>
              </div>
              <div class="card-footer">
                <small class="">Constelaçāo Nível 1</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/barbara/vitalityBurst.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Explosāo de Vitalidade</h5>
                <p class="card-text">Diminui a Recarga do <span style="color: #1abc9c;">Que Comece o Espetáculo ♪</span> por 15%. Durante a duraçāo da habilidade, o personagem atual ganha 15% de Bonús de <span style="color: #1abc9c;">Dano Hydro</span>
                  <span style="color: #1abc9c;">Skyward Sonnet</span> diminui a RES <span style="color: #28a745;">Anemo</span> do inimigo em 12% por 10s.
                  Os inimigos lançados pelo <span style="color: #1abc9c;">Skyward Sonnet</span> sofrem uma redução 
                  adicional de 12% no RES do <span style="color: #28a745;">Anemo</span> e no RES física durante o vôo.</p>
              </div>
              <div class="card-footer">
                <small class="">Constelaçāo Nível 2</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/barbara/starTomorrow.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Estrela de Amanhā</h5>
                <p class="card-text">Aumenta o nível do <span style="color: #1abc9c;">Milagre Brilhante ♪</span> em 3. O nível máximo de elevaçāo é 15.</p>
              </div>
              <div class="card-footer">
                <small class="">Constelaçāo Nível 3</small>
              </div>
            </div>
          </div>
          <div class="card-deck mt-5">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/barbara/attentivenessPower.png" class="" style="width: 30%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">A Atençāo é o Meu Poder</h5>
                <p class="card-text">Sempre que os Ataques Carregados da Barbara acertar um inimigo faz com que ela regenere 1 de Energia. É possivel regenerar um máximo de 5 de Energia desta maneira por vez.</p>
              </div>
              <div class="card-footer">
                <small class="">Constelaçāo Nível 4</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/barbara/letShowBegin.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Vínculo de Inocência</h5>
                <p class="card-text">Aumente o nível do <span style="color: #1abc9c;">Que Comece o Espetáculo ♪</span> em 3.
                  O nível máximo de atualização é 15.</p>
              </div>
              <div class="card-footer">
                <small class="">Constelaçāo Nível 5</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/barbara/dedicating.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Dedicando Tudo para Você</h5>
                <p class="card-text">Quando a Barbara nāo está no campo de batalha, e o personagem da própria equipe for abatido <br>
                  Revive automaticamente este personagem. Regenera totalmente a VIda deste personagem até 100%, este efeito pode ser ativado uma vez a cada 15 mins.</p>
              </div>
              <div class="card-footer">
                <small class="">Constelaçāo Nível 6</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-custom text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="build">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-5" id="#build">
            Melhores Builds:
          </h1>  
          <br><br>
          <div class="card-deck">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/elements/hydro.png" class="mt-4" style="width: 20%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Build de Healer</h5>
                <p class="card-text">Embora ela não vá aumentar o dano causado por sua equipe, Barbara manterá todas as suas unidades vivas e saudáveis. A maior cura virá de sua Explosão 
                  Elemental, seguida pelo uso de Ataques Carregados com Que Comece o Espetáculo ativo e, finalmente, a cura passiva de Que Comece o Espetáculo.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><span style="color: #40a5db">Hydro</span></small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/barbara/prototypeMalice.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Prototype Malice</h5>
                <p class="card-text">Usar uma Explosão Elemental regenera <span style="color: #17a2b8; font-weight: 600;">4/4.5/5/5.5/6</span> Energia a cada 2s por 6s. Além disso, todos os membros do grupo irão regenerar 
                  <span style="color: #17a2b8; font-weight: 600;">4/4.5/5/5.5/6%</span> HP a cada 2s durante este período.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                </small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/qiqi/Item_Maiden_Beloved_5-star.png" class="mt-4" style="width: 20%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Maiden Beloved</h5>
                <p class="card-text">(2) Eficácia de cura de personagem + 15% <br><br> 
                  (4) Usar uma habilidade elemental ou explosão aumenta a cura recebida por todos os membros do grupo em 20% por 10s.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Conjuntos de Artefatos</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-dark text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="ascension">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#ascension">
            Ascensão:
          </h1>  
          <br><br>
          <div class="ml-2 mr-2 table-responsive">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Ascensão</th>
                  <th scope="col">Max Lv.</th>
                  <th scope="col"><img src="../assets/img/genshin/mora.png" alt=""></th>
                  <th scope="col">Material Elemental 1</th>
                  <th scope="col">Material Elemental 2</th>
                  <th scope="col">Especialidade Local</th>
                  <th scope="col">Material Comum</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="align-middle" scope="row">1st</th>
                  <td class="align-middle">20</td>
                  <td class="align-middle">20,000</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Varunada_Lazurite_Sliver.png" alt="Vayuda_Turquoise_Sliver"><br><br>Prata de Lazurita Varunada x1</td>
                  <td class="align-middle">Nenhum</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Philanemo_Mushroom.png" alt="CorLapis"><br><br>Cogumelo Philanemo x3</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Divining_Scroll.png" alt="DamagedMask"><br><br>Pergaminho Guia x3</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">2nd</th>
                  <td class="align-middle">40</td>
                  <td class="align-middle">40,000</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Varunada_Lazurite_Fragment.png" alt="ShivadaJadeFragment"><br><br>Fragmento de Lazurita Varunada x3</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Cleansing_Heart.png" alt="ShivadaJadeFragment"><br><br>Coraçāo Purificador x2</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Philanemo_Mushroom.png" alt="CorLapis"><br><br>Cogumelo Philanemo x10</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Divining_Scroll.png" alt="DamagedMask"><br><br>Pergaminho Guia x15</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">3rd</th>
                  <td class="align-middle">50</td>
                  <td class="align-middle">60,000</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Varunada_Lazurite_Fragment.png" alt="ShivadaJadeFragment"><br><br>Fragmento de Lazurita Varunada x6</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Cleansing_Heart.png" alt="ShivadaJadeFragment"><br><br>Coraçāo Purificador x4</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Philanemo_Mushroom.png" alt="CorLapis"><br><br>Cogumelo Philanemo x20</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Sealed_Scroll.png" alt="DamagedMask"><br><br>Pergaminho do Encantamento x12</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">4th</th>
                  <td class="align-middle">60</td>
                  <td class="align-middle">80,000</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Varunada_Lazurite_Chunk.png" alt="ShivadaJadeFragment"><br><br>Pedaço de Lazurita Varunada x3</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Cleansing_Heart.png" alt="ShivadaJadeFragment"><br><br>Coraçāo Purificador x8</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Philanemo_Mushroom.png" alt="CorLapis"><br><br>Cogumelo Philanemo x30</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Sealed_Scroll.png" alt="DamagedMask"><br><br>Pergaminho do Encantamento x18</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">5th</th>
                  <td class="align-middle">70</td>
                  <td class="align-middle">240,000</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Varunada_Lazurite_Chunk.png" alt="ShivadaJadeFragment"><br><br>Pedaço de Lazurita Varunada x6</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Cleansing_Heart.png" alt="ShivadaJadeFragment"><br><br>Coraçāo Purificador x12</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Philanemo_Mushroom.png" alt="CorLapis"><br><br>Cogumelo Philanemo x45</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Forbidden_Curse_Scroll.png" alt="DamagedMask"><br><br>Pergaminho da Maldiçāo x16</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">6th</th>
                  <td class="align-middle">80</td>
                  <td class="align-middle">?</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Varunada_Lazurite_Gemstone.png" alt="ShivadaJadeFragment"><br><br>Gema de de Lazurita Varunada x6</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Cleansing_Heart.png" alt="ShivadaJadeFragment"><br><br>Coraçāo Purificador x20</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Philanemo_Mushroom.png" alt="CorLapis"><br><br>Cogumelo Philanemo x60</td>
                  <td><img src="../assets/img/genshin/characters/barbara/Item_Forbidden_Curse_Scroll.png" alt="DamagedMask"><br><br>Pergaminho da Maldiçāo x24</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">Máximo</th>
                  <td class="align-middle">90</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer-->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Nooberando</h4>
            <p class="lead mb-0" style="text-align: left;"> 
              O Nooberando não é afiliado ou endossado pela miHoYo. 
              <br>
              Nooberando é um website que inclue banco de dados e lista de níveis para o jogo Genshin Impact. 
              <br>
              O jogo está disponível para PC, Switch, Playstation 4 e aplicativo de jogo mobile no iOS e Android.
            </p>
          </div>
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Links da Comunidade</h4>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-facebook-f"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-twitter"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-linkedin-in"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-dribbble"></i
            ></a>
          </div>
          <!-- Footer About Text-->
          <!-- <div class="col-lg-4">
            <img src="../assets/img/genshin/characters/diluc/dilucLarge.png" class="footerImg" alt="Diluc">
          </div> -->
        </div>
      </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
      <div class="container"><small>Copyright ©</small></div>
    </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
      <a
        class="js-scroll-trigger d-block text-center text-white rounded"
        href="#page-top"
        ><i class="fa fa-chevron-up"></i
      ></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="../assets/mail/jqBootstrapValidation.js"></script>
    <script src="../assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
    <!-- Read More -->
    <script>
      function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");
      
        if (dots.style.display === "none") {
          dots.style.display = "inline";
          btnText.innerHTML = "Read more"; 
          moreText.style.display = "none";
        } else {
          dots.style.display = "none";
          btnText.innerHTML = "Read less"; 
          moreText.style.display = "inline";
        }
      }
      </script>
  </body>
</html>
