<!DOCTYPE html>
<html lang="pt">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MS3SPVX");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Site sobre Games e Jogos" />
    <meta name="author" content="Ramon Barros" />
    <title>Diluc</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/img/pyro.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <link href="../css/index.css" rel="stylesheet" />
    <link href="../css/character.css" rel="stylesheet" />
    <script
      data-ad-client="ca-pub-2764098734610196"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
  </head>
  <body id="page-top">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MS3SPVX"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->‰
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="../index.html"
          >&#60; Personagens</a
        >
        <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top"
          >Nooberando</a
        > -->
        <button
          class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#biografia"
                >Biografia</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#combate"
                >Talentos</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#constelacoes"
                >Constelaçōes</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#build"
                >Build</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#ascension"
                >Ascençāo</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br>  
    <img src="../assets/img/genshinFour.jpg" class="testImg" alt="">
    <div class="container">     
      <img class="charImg" src="../assets/img/genshin/characters/diluc/dilucLarge.png" alt="chongyun">
    </div>
    <header class="masthead bg-custom text-white text-center" style="clear: both;">
      <!-- Masthead Heading-->
      <section class="page-section portfolio" id="personagem">
        
        <div class="container">
          
          <a class="arrow-down js-scroll-trigger" href="#personagem"></a>
          <div class="card bg-dark mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../assets/img/genshin/characters/diluc/dilucCard.jpg" class="card-img" style="width: 60%; margin-top: 1em;" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Diluc  Ragnvindr
                  </h5>
                  <p class="card-text">
                    <table class="table table-striped table-dark" style="color: white;">
                      <tbody>
                        <tr>
                          <th scope="col"><span >Aniversário:</span></th>
                          <th scope="col" style="text-align: right;">30/4</th>
                        </tr>
                        <tr>
                          <th scope="col">Região:</th>
                          <th scope="col" style="text-align: right;">Mondstadt</th>
                        </tr>
                        <tr>
                          <th scope="col">Elemento:</th>
                          <th scope="col" style="text-align: right; color: #ff6666;">Pyro<img src="../assets/img/genshin/elements/pyro.png" class="ml-2" style="width: 1.5em;" alt=""></th>
                        </tr>
                        <tr>
                          <th scope="col">Constelaçāo:</th>
                          <th scope="col" style="text-align: right;">Noctua</th>
                        </tr>
                        <tr>
                          <th scope="col">Raridade:</th>
                          <th scope="col" style="text-align: right;">
                            <!-- Icon Divider-->
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                          </th>
                        </tr>
                        <tr>
                          <th scope="col">Arma:</th>
                          <th scope="col" style="text-align: right;">Espada de Duas Māos</th>
                        </tr>
                      </tbody>
                    </table>
                  </p>
                  <p class="card-text"><small class="text-muted">
                    Lado Negro do Amanhecer</small></p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>
    </header>
    <section class="masthead bg-dark text-white text-center" style="clear: both;">
      <!-- Masthead Heading-->
      <div class="page-section portfolio" id="biografia">
        
        

        <div class="container">
          <div class="" style="text-align: left"> 
            <h1 class="page-section-heading text-center text-uppercase text-white mb-4 mt-5" id="#biografia">
              Biografia:
            </h1>
              <br>
          </div>
          
          <div class="row mt-5 container">
            <div class="card-deck mt-5">
              <div class="card text-white bg-dark">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Introduçāo</h5>
                  <p class="card-text">Como o cavalheiro mais rico de Mondstadt, o sempre elegante Diluc 
                    sempre se apresenta como o epítome da perfeição. Mas por trás do rosto cortês arde uma alma zelosa que jurou proteger 
                    Mondstadt a todo custo, permitindo-lhe derrotar impiedosamente todos os que ameaçam sua cidade
                  </p>
                </div>
              </div>
              <div class="card text-white bg-dark">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Personalidade</h5>
                  <p class="card-text">
                    "Como a cidade das baladas e dos vinhos, a indústria do álcool de Mondstadt é conhecida em toda a Teyvat. 
                    Como proprietário da Dawn Winery, Diluc é essencialmente o responsável pela indústria. Isso significa que 
                    ele tem um grande fluxo de receita e toda uma rede de informações no forma de fofoca dos clientes da taverna 
                    na ponta dos dedos. De certa forma, ele é o rei sem coroa de Mondstadt.- Texto de detalhes do personagem no jogo.

                    Disse Kaeya: "Em termos simples, somos anti-heróis com problemas de atitude." Ele é indiferente e distante, visto 
                    que está relutante e não parece querer falar sobre o passado. Seu eu atual mostra que não quer perder tempo com conversa fiada; 
                    como viu quando se encontrou com Lisa, ele ficou impaciente enquanto ela admirava as Cecilias.
                  </p>
                </div>
              </div>
              <div class="card text-white bg-dark">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Aparência</h5>
                  <p class="card-text">Diluc tem pele de porcelana com constituição esguia e atlética e olhos vermelhos carmesim. 
                    Ele tem cabelo em tons escarlate, sempre preso em um rabo de cavalo bagunçado que se estende até o meio das costas.

                    Diluc veste um casaco preto que é adornado com enfeites dourados e borlas, terminando com enfeites de pele de ébano. 
                    Ele usa calças pretas enfeitadas com correntes na coxa direita, enquanto sua visão é colocada na coxa esquerda. 
                    Diluc também usa luvas, que são pretas na parte de cima, enquanto a parte de baixo é tingida de vermelho.
                    </p>
                </div>
              </div>
            </div>
            
            <div class="container">
              <div class="card bg-dark mb-3 mt-5" style="max-width: 100%;">
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <div class="card-body">
                      <h5 class="card-title">Conto Um</h5>
                      <p class="card-text">O cheiro do vinho sempre paira no ar em Mondstadt.

                        Se alguém seguisse o cheiro até sua fonte, invariavelmente chegaria à Vinícola Diluc's Dawn.
                        
                        Uma placa de madeira anuncia com orgulho o nome da vinícola, e abaixo dela está escrito o lema da vinícola: "Brilhe com Verdade".
                        
                        Muitos interpretam isso como significando que os vinhos são produzidos pela consistência do paladar, com técnicas consagradas pelo tempo e aquela mesma dose saudável de otimismo ensolarado que o amanhecer traz. Enquanto isso, os mais pragmáticos Cavaleiros de Favonius são lembrados da longa história de apoio mútuo entre a vinícola e a cidade.
                        
                        A vinícola realiza festividades de vez em quando. Esses eventos são rotineiramente assistidos por pais entusiasmados, ansiosos para apresentar suas maravilhosas filhas ao jovem e solteiro mestre vinícola.
                        
                        Isso tudo é muito divertido para os demais convidados, que assistem e comentam, zombeteiros: "Preferiríamos que o Mestre Diluc continuasse casado com a vinícola, dado que este vinho é bom!"
                        
                        Diluc lida de forma impecável com todas as situações, não importa quem ou o que apareça.
                        
                        Diluc é um bom jovem cavalheiro em todos os aspectos imagináveis.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img
              class="masthead-avatar mt-5"
              src="../assets/img/genshin/characters/diluc/dilucGame.jpg"
              style="border-radius: 10px"
              alt=""
            />
            <div class="container">
              <div class="card bg-dark mb-3 mt-5" style="max-width: 100%;">
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <div class="card-body">
                      <h5 class="card-title">Conto Dois</h5>
                      <p class="card-text">Diluc evita falar do passado.

                        "Se ao menos Diluc ainda fosse um membro dos Cavaleiros ..." Depois de alguns drinques, os cavaleiros mais velhos dirão palavras a respeito com um suspiro.
                        
                        Eles se referem a eventos de muito tempo atrás, quando o pai de Diluc, Mestre Crepus, ainda era o dono da vinícola. O desejo do Mestre Crepus era que seu filho se tornasse o cavaleiro mais estimado de todos e salvaguardasse Mondstadt, a Cidade da Liberdade.
                        
                        De acordo com os desejos do pai, Diluc treinou rigorosamente para se tornar digno do nome Ragnivindr. Com certeza, ele passou nos julgamentos dos Cavaleiros de Favonius, fez o juramento de proteção a Mondstadt e entrou em suas fileiras. Em pouco tempo, ele recebeu uma promoção que o tornou o mais jovem Capitão de Cavalaria de todos os tempos.
                        
                        Ao longo de suas missões e patrulhas, os habitantes de Mondstadt gradualmente foram conhecendo esse jovem e apaixonado Capitão de Cavalaria.
                        
                        Não importa o que as missões exigissem dele, ele sempre manteve sua compostura e sua paixão. Não importa o tamanho do desafio diante dele, sua coragem ilimitada sempre o levou à linha de frente. Os elogios que recebeu de seus camaradas e cidadãos o estimularam.
                        
                        Mas as palavras de elogio que ele mais valorizou foram: "Bom trabalho. Agora, esse é o meu filho." As palavras de seu pai alimentaram o fogo em seu coração e serviram como sua maior motivação.
                        
                        Sua fé era um fogo inextinguível que ardia forte e brilhante dentro dele.
                        
                        Diluc era tão jovem naquela época.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="masthead bg-custom text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="combate">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#combate">
            Talentos de Combate:
          </h1>          
          <br><br>
          <div class="card-deck mt-4">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/diluc/temperedSword.png" class="" style="width: 30%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Espada Temperada</h5>
                <p class="card-text" style="color: #1abc9c; font-weight: 600">
                  Ataque Normal:
                </p>
                <p class="card-text">
                  Executa até 4 golpes consecutivos.
                </p>
                <p class="card-text" style="color: #1abc9c; font-weight: 600">
                  Ataque Carregado:
                </p>
                <p class="card-text">
                  Drena a resistência ao longo do tempo para realizar
                  cortes contínuos. No final da sequência, execute uma
                  barra mais poderosa.
                </p>
                <p class="card-text" style="color: #1abc9c; font-weight: 600">
                  Ataque Profundo:
                </p>
                <p class="card-text">
                  Mergulha no ar para atingir o solo, causando dano aos
                  inimigos ao longo do caminho e causando dano de AdE com o impacto.
                </p>
              </div>
              <table class="table table-striped table-dark" style="color: white;">
                <tbody>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 1º Golpe</th>
                    <th scope="col" style="text-align: right;">89.7%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 2º Golpe</th>
                    <th scope="col" style="text-align: right;">87.6%/th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 3º Golpe</th>
                    <th scope="col" style="text-align: right;">98.8%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 4º Golpe</th>
                    <th scope="col" style="text-align: right;">134%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de Ataque Giratório Carregado</th>
                    <th scope="col" style="text-align: right;">68.8%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de Ataque Carregado</th>
                    <th scope="col" style="text-align: right;">125%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Custo de Energia de Ataque Carregado</th>
                    <th scope="col" style="text-align: right;">40/s</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Duraçāo Máxima</th>
                    <th scope="col" style="text-align: right;">5s</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano Durante a Queda</th>
                    <th scope="col" style="text-align: right;">89.5%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de Queda de <br> Alta/Baixa Altitude</th>
                    <th scope="col" style="text-align: right;">179% / 224%</th>
                  </tr>
                </tbody>
              </table>
              <div class="card-footer">
                <small class="">Ataque Normal</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/diluc/searingOnslaught.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Ataque Violento</h5>
                <p class="card-text">
                  Executa um corte frontal que dá <span style="color: #ff6666;">Dano Pyro</span> ao inimigo.
                </p>
                  <p class="card-text">
                    Esta habilidade pode ser usada 3 vezes consecutivas. Entra no CD(cooldown) se não for lançado novamente em um curto período.
                  </p>
                
                  <table class="table table-striped table-dark" style="color: white;">
                    <tbody>
                      <tr>
                        <th scope="col" style="text-align: left;">Dano de 1º Golpe</th>
                        <th scope="col" style="text-align: right;">94.4%</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Dano de 2º Golpe</th>
                        <th scope="col" style="text-align: right;">97.6%</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Dano de 3º Golpe</th>
                        <th scope="col" style="text-align: right;">129%</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Tempo de Recarga</th>
                        <th scope="col" style="text-align: right;">10s</th>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="card-footer">
                <small class="">Habilidade Elemental</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/diluc/dawn.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Amanhecer</h5>
                <p class="card-text">
                  As chamas que percorrem sua lâmina fazem com que os Ataques Normal e Carregado de Diluc causem <span style="color: #ff6666;">Dano Pyro</span> por um tempo.
                </p>   
                  <table class="table table-striped table-dark" style="color: white;">
                    <tbody>
                      <tr>
                        <th scope="col" style="text-align: left;">Dano de Corte</th>
                        <th scope="col" style="text-align: right;">204%</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Dano ao Longo de Tempo</th>
                        <th scope="col" style="text-align: right;">60%</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Dano de Explosāo</th>
                        <th scope="col" style="text-align: right;">204%</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Tempo de Recarga</th>
                        <th scope="col" style="text-align: right;">12s</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Duraçāo do Encantamento</th>
                        <th scope="col" style="text-align: right;">8s</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Custo de Energia</th>
                        <th scope="col" style="text-align: right;">40</th>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="card-footer">
                <small class="">Explosāo Elemental</small>
              </div>
            </div>
          </div>
          <br><br>
          <div class="container">
            <h1 class="page-section-heading text-center text-uppercase text-white mb-4 mt-5" id="#passivo">
              Talentos Passivos:
            </h1> 
            <br><br>
            <div class="card-deck mt-4">
              <div class="card text-white bg-dark">
                <img src="../assets/img/genshin/characters/diluc/relentless.png" class="" style="width: 30%; margin: auto;"  alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Implacável</h5>
                  <p class="card-text">O Custo de Vigor do Ataque Carregado de Diluc é reduzido em 50% e sua duração é aumentada em 3s.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Desbloqueado na Ascensão 1</small>
                </div>
              </div>
              <div class="card text-white bg-dark">
                <img src="../assets/img/genshin/characters/diluc/blessingOfPhoenix.png" class="" style="width: 30%; margin: auto;" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Bênção da Fênixr</h5>
                  <p class="card-text">O Encantamento de <span style="color: #ff6666;">Pyro</span> fornecido por <span style="color: #1abc9c;">Amanhecer</span> dura 4s a mais. Além disso, Diluc ganha 20% de bônus de<span style="color: #ff6666;">Dano Pyro</span> durante a duração deste efeito.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Desbloqueado na Ascensão 4</small>
                </div>
              </div>
              <div class="card text-white bg-dark">
                <img src="../assets/img/genshin/characters/jean/lettheWindLead.png" class="" style="width: 30%; margin: auto; visibility: hidden;" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Tradição do Cavaleiro do Amanhecer</h5>
                  <p class="card-text">Reembolsa 15% dos minérios usados na fabricação de armas do tipo Claymore.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Desbloqueado Automaticamente</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-dark text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="constelacoes">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#constelacoes">
            Constelaçōes:
          </h1> 
          <br><br>
          <div class="card-deck mt-5">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/diluc/conviction.png" class="" style="width: 30%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Convicção</h5>
                <p class="card-text">Diluc causa 15% a mais de Dano aos inimigos cujo Pontos de Vida está acima de 50%.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Constelaçāo Nível 1</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/diluc/searingEmber.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Brasa Ardente</h5>
                <p class="card-text">Quando Diluc pega Dano, seu Ataque base aumenta em 10% e sua Velocidade de Ataque aumenta em 5%. Dura 10s.
                  Este efeito pode acumular até 3 vezes e ocorrer apenas uma vez a cada 1.5s.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Constelaçāo Nível 2</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/diluc/steelAndFire.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Aço e Fogo</h5>
                <p class="card-text">Aumenta em 3 o nível do <span style="color: #1abc9c;">Ataque Violento</span>.
                  O nível máximo de atualização é 15.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Constelaçāo Nível 3</small>
              </div>
            </div>
          </div>
          <div class="card-deck mt-5">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/diluc/flowingFlame.png" class="" style="width: 30%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Chama Fluindo</h5>
                <p class="card-text">Lançar <span style="color: #1abc9c;">Ataque Violento</span> em sequência aumenta muito o dano causado.
                  Após 2s de usar <span style="color: #1abc9c;">Ataque Violento</span>, lançar o próximo 
                  <span style="color: #1abc9c;">Ataque Violento</span> no combo dá 40% de Dano adicional. Este efeito dura pelos próximos 2s.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Constelaçāo Nível 4</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/diluc/dawn.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Phoenix, Prenúncio do Amanhecer</h5>
                <p class="card-text">Aumenta o nível do <span style="color: #1abc9c;">Dawn</span> em 3. O nível máximo de atualização é 15.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Constelaçāo Nível 5</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/diluc/flamingSwordNemesisofDark.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Espada Flamejante, Nêmesis das Trevas</h5>
                <p class="card-text">Após lançar o <span style="color: #1abc9c;">Ataque Violento</span>, os próximos 2 ataques normais dentro dos próximos 6s terão seu Dano e Velocidade de Ataque aumentados em 30%.
                  Além disso, <span style="color: #1abc9c;">Ataque Violento</span> não interromperá o combo Ataque Normal.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Constelaçāo Nível 6</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-custom text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="build">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-5" id="#build">
            Melhores Builds:
          </h1>  
          <br><br>
          <div class="card-deck">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/elements/pyro.png" class="mt-4" style="width: 20%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Build de DPS</h5>
                <p class="card-text">Esta construção pode funcionar sem quaisquer constelações, mas realmente brilha quando 
                  você tem todos os 6. Diluc se torna uma máquina de distribuição de Dano de Pyro imparável, tecendo 2 ataques normais entre cada Ataque Violento.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><span style="color: #ff6666;">Pyro</span></small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/diluc/wolfsGravestone.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Wolf's Gravestone</h5>
                <p class="card-text">Aumenta o ATQ básico em <span style="color: #17a2b8; font-weight: 600;">20/25/30/35/40%</span>. 
                  Ao acertar, ataques contra inimigos com menos de 30% de HP aumentam o ATK de base de todos os membros do grupo em <span style="color: #17a2b8; font-weight: 600;">40/50/60/70/80%</span> 
                  por 12s. Só pode ocorrer uma vez a cada 30s.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                </small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/diluc/skywardPride.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Skyward Pride</h5>
                <p class="card-text">Aumenta todo o DMG em <span style="color: #17a2b8; font-weight: 600;">8/10/12/14/16%</span>. 
                  Depois de usar um Ataque Explosāo Elemental, Normal ou Carregado, ao acertar, cria uma lâmina de vácuo que faz 
                  <span style="color: #17a2b8; font-weight: 600;">80/100/120/140/160%</span> Dano Físico para os inimigos ao longo de seu caminho. Dura 20s ou 8 lâminas de vácuo.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                </small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/diluc/Item_Crimson_Witch_of_Flames_5-star.png" class="mt-4" style="width: 20%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Crimson Witch of Flames</h5>
                <p class="card-text">(2) Bônus Dano de Pyro + 15% <br><br>
                  (4) Aumenta o Dano sobrecarregado e em chamas em 40%. Aumenta Vaporizar e Derreter Dano em 15%. Usar uma habilidade elementar aumenta os efeitos do Conjunto de 2 peças em 50% por 10s. Máximo de 3 pilhas.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Conjuntos de Artefatos</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-dark text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="ascension">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#ascension">
            Ascensão:
          </h1>  
          <br><br>
          <div class="ml-2 mr-2 table-responsive">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Ascensão</th>
                  <th scope="col">Max Lv.</th>
                  <th scope="col"><img src="../assets/img/genshin/mora.png" alt=""></th>
                  <th scope="col">Material Elemental 1</th>
                  <th scope="col">Material Elemental 2</th>
                  <th scope="col">Especialidade Local</th>
                  <th scope="col">Material Comum</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="align-middle" scope="row">1st</th>
                  <td class="align-middle">20</td>
                  <td class="align-middle">20,000</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Agnidus_Agate_Sliver.png" alt="Agnidus_Agate_Sliver"><br><br>Prata de Ágata Agnidus x1</td>
                  <td class="align-middle">Nenhum</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Small_Lamp_Grass.png" alt="CorLapis"><br><br>Lâmpada de Grama x3</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Recruit_Insignia.png" alt="DamagedMask"><br><br>Insígnia de Recruta x3</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">2nd</th>
                  <td class="align-middle">40</td>
                  <td class="align-middle">40,000</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Agnidus_Agate_Fragment.png" alt="ShivadaJadeFragment"><br><br>Fragmento de Ágata Agnidus x3</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Everflame_Seed.png" alt="ShivadaJadeFragment"><br><br>Semente de Furacāo x2</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Small_Lamp_Grass.png" alt="CorLapis"><br><br>Lâmpada de Grama x10</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Recruit_Insignia.png" alt="DamagedMask"><br><br>Insígnia de Recruta x15</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">3rd</th>
                  <td class="align-middle">50</td>
                  <td class="align-middle">60,000</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Agnidus_Agate_Fragment.png" alt="ShivadaJadeFragment"><br><br>Fragmento de Ágata Agnidus x6</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Everflame_Seed.png" alt="ShivadaJadeFragment"><br><br>Semente de Furacāo x4</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Small_Lamp_Grass.png" alt="CorLapis"><br><br>Lâmpada de Grama x20</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Sergeant_Insignia.png" alt="DamagedMask"><br><br>Insígnia de Sargento x12</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">4th</th>
                  <td class="align-middle">60</td>
                  <td class="align-middle">80,000</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Agnidus_Agate_Chunk.png" alt="ShivadaJadeFragment"><br><br>Pedaço de Ágata Agnidus x3</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Everflame_Seed.png" alt="ShivadaJadeFragment"><br><br>Semente de Furacāo x8</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Small_Lamp_Grass.png" alt="CorLapis"><br><br>Lâmpada de Grama x30</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Sergeant_Insignia.png" alt="DamagedMask"><br><br>Insígnia de Sargento x18</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">5th</th>
                  <td class="align-middle">70</td>
                  <td class="align-middle">?</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Agnidus_Agate_Chunk.png" alt="ShivadaJadeFragment"><br><br>Pedaço de Ágata Agnidus x6</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Everflame_Seed.png" alt="ShivadaJadeFragment"><br><br>Semente de Furacāo x12</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Small_Lamp_Grass.png" alt="CorLapis"><br><br>Lâmpada de Grama x45</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Lieutenant_Insignia.png" alt="DamagedMask"><br><br>Insígnia de Tenente x16</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">6th</th>
                  <td class="align-middle">80</td>
                  <td class="align-middle">?</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Agnidus_Agate_Gemstone.png" alt="ShivadaJadeFragment"><br><br>Gema de de Ágata Agnidus x6</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Everflame_Seed.png" alt="ShivadaJadeFragment"><br><br>Semente de Furacāo x20</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Small_Lamp_Grass.png" alt="CorLapis"><br><br>Lâmpada de Grama x60</td>
                  <td><img src="../assets/img/genshin/characters/diluc/Item_Lieutenant_Insignia.png" alt="DamagedMask"><br><br>Insígnia de Tenente x24</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">Máximo</th>
                  <td class="align-middle">90</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer-->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Nooberando</h4>
            <p class="lead mb-0" style="text-align: left;"> 
              O Nooberando não é afiliado ou endossado pela miHoYo. 
              <br>
              Nooberando é um website que inclue banco de dados e lista de níveis para o jogo Genshin Impact. 
              <br>
              O jogo está disponível para PC, Switch, Playstation 4 e aplicativo de jogo mobile no iOS e Android.
            </p>
          </div>
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Links da Comunidade</h4>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-facebook-f"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-twitter"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-linkedin-in"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-dribbble"></i
            ></a>
          </div>
          <!-- Footer About Text-->
          <!-- <div class="col-lg-4">
            <img src="../assets/img/genshin/characters/diluc/dilucLarge.png" class="footerImg" alt="Diluc">
          </div> -->
        </div>
      </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
      <div class="container"><small>Copyright ©</small></div>
    </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
      <a
        class="js-scroll-trigger d-block text-center text-white rounded"
        href="#page-top"
        ><i class="fa fa-chevron-up"></i
      ></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="../assets/mail/jqBootstrapValidation.js"></script>
    <script src="../assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
  </body>
</html>
