<!DOCTYPE html>
<html lang="pt">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MS3SPVX");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Site sobre Games e Jogos" />
    <meta name="author" content="Ramon Barros" />
    <title>Keqing</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/img/electro.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <link href="../css/index.css" rel="stylesheet" />
    <link href="../css/character.css" rel="stylesheet" />
    <style>
      #more {display: none;}
      </style>
    <script
      data-ad-client="ca-pub-2764098734610196"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
  </head>
  <body id="page-top">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MS3SPVX"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->‰
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="../index.html"
          >&#60; Personagens</a
        >
        <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top"
          >Nooberando</a
        > -->
        <button
          class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#biografia"
                >Biografia</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#combate"
                >Talentos</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#constelacoes"
                >Constelaçōes</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#build"
                >Build</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#ascension"
                >Ascençāo</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br>  
    <img src="../assets/img/genshinOne.jpg" class="testImg" alt="">
    <div class="container">     
      <img class="charImg" src="../assets/img/genshin/characters/keqing/keqingLarge.png" alt="chongyun">
    </div>
    <header class="masthead bg-custom text-white text-center" style="clear: both;">
      <!-- Masthead Heading-->
      <section class="page-section portfolio" id="personagem">
        
        <div class="container">
          
          <a class="arrow-down js-scroll-trigger" href="#personagem"></a>
          <div class="card bg-dark mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../assets/img/genshin/characters/keqing/Character_Keqing_Card.jpg" class="card-img" style="width: 60%; margin-top: 1em;" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Keqing</h5>
                  <p class="card-text">
                    <table class="table table-striped table-dark" style="color: white;">
                      <tbody>
                        <tr>
                          <th scope="col"><span >Aniversário:</span></th>
                          <th scope="col" style="text-align: right;">20/11</th>
                        </tr>
                        <tr>
                          <th scope="col">Afiliaçāo:</th>
                          <th scope="col" style="text-align: right;">Liyue Qixing</th>
                        </tr>
                        <tr>
                          <th scope="col">Elemento:</th>
                          <th scope="col" style="text-align: right; color: #a15ec4;">Electro<img src="../assets/img/genshin/elements/electro.png" class="ml-2" style="width: 1.5em;" alt=""></th>
                        </tr>
                        <tr>
                          <th scope="col">Constelaçāo:</th>
                          <th scope="col" style="text-align: right;">Trulla Cementarii</th>
                        </tr>
                        <tr>
                          <th scope="col">Raridade:</th>
                          <th scope="col" style="text-align: right;">
                            <!-- Icon Divider-->
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                          </th>
                        </tr>
                        <tr>
                          <th scope="col">Arma:</th>
                          <th scope="col" style="text-align: right;">Espada</th>
                        </tr>
                      </tbody>
                    </table>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Yuheng of the Liyue Qixing
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>
    </header>
    <section class="masthead bg-dark text-white text-center" style="clear: both;">
      <!-- Masthead Heading-->
      <div class="page-section portfolio" id="biografia">
        
        

        <div class="container">
          <div class="" style="text-align: left"> 
            <h1 class="page-section-heading text-center text-uppercase text-white mb-4 mt-5" id="#biografia">
              Biografia:
            </h1>
              <br>
          </div>
          
          <div class="row mt-5 container">
            <div class="card-deck mt-5">
              <div class="card text-white bg-dark">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Introduçāo</h5>
                  <p class="card-text">Atualmente atua como investigadora na Guilda de Aventureiros. Por meio de suas habilidades únicas, 
                    caráter excêntrico e (embora ela mesma nunca admitisse) trabalho árduo, 
                    Fischl se tornou uma estrela em ascensão entre os investigadores do Adventurers 'Guild, ganhando o reconhecimento de todos.
                  </p>
                </div>
              </div>
              <div class="card text-white bg-dark">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Personalidade</h5>
                  <p class="card-text">
                    Fischl, Prinzessin der Verurteilung do reino exterior Immernachtreich, e seus parentes, o corvo noturno. Atendendo ao chamado do destino, descemos sobre Teyvat.
                    Fischl se apresenta a todos os membros da Guilda dos Aventureiros dessa maneira.<span id="dots"></span><span id="more">
                    Devido a sua visão compartilhada com o corvo Oz, Fischl foi capaz de se juntar ao Adventurers 'Guild e se tornar um investigador com facilidade.
                    Inicialmente, isso deu aos membros da Guilda grande dificuldade em compreender o que Fischl estava dizendo. Mas, graças ao seu trabalho incansável e à interpretação diligente de Oz, todos foram finalmente capazes de entendê-la.
                    Embora excêntrico em palavras e ações, o reconhecimento deste investigador é rápido e sua inteligência precisa, características que lhe permitiram ganhar gradualmente a confiança de todos.
                    Ajuda o fato de Fischl também ser uma pessoa muito gentil.
                    "Oz, meu familiar ... abra suas asas que eclipsam o sol, e vigie aquele a quem o mal destino se apega como uma mortalha."
                    "Sim, mein Fräulein."
                    Hoje, Fischl também deve mostrar preocupação com as massas da Guilda dos Aventureiros à sua própria maneira.
                  </span>
                  </p> 
                  <button onclick="myFunction()" id="myBtn" class="btn btn-primary">Read more</button> 
                </div>
              </div>
              <div class="card text-white bg-dark">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Aparência</h5>
                  <p class="card-text">
                    Fischl tem cabelos loiros, olhos verdes e um corpo pequeno com pele clara. Duas partes de seu cabelo estão presas em fios de cabelo com uma fita preta.
                    
                    Ela usa um vestido de renda preta com cruzes costuradas, sobretudos violeta, luvas e tapa-olho preto.</p>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="card bg-dark mb-3 mt-5" style="max-width: 100%;">
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <div class="card-body">
                      <h5 class="card-title">Conto Um</h5>
                      <p class="card-text">Como investigador do Adventurers 'Guild, a maior vantagem de Fischl sobre seus colegas é Oz.

                        "Milady, por favor, pare de me mandar para espionar Stormterror. Esse cara poderia me comer no café da manhã! Bem, eu sou tão franzino que provavelmente nem seria preso entre os dentes, mas ... De qualquer forma, eu não querer morrer!"
                        "Hmph! Você deveria ser meu familiar. Nem todo mundo chega a ser o familiar da Prinzessin der Verurteilung, você entende? Considere uma honra dedicar sua vida para me servir!"
                        
                        Fischl é capaz de ver através dos olhos de Oz. Sempre que ela quer, ela possui Oz e olha para a terra do céu.
                        Quer ela queira inspecionar a flora nas Montanhas Stormbearer ou observar uma perturbação em Wolvendom, através de Oz ela pode ver tudo e qualquer coisa.
                        
                        Graças em grande parte à sua habilidade única - e, em menor medida, ao seu próprio esforço e personalidade peculiar - Fischl rapidamente passou de investigador novato da Guilda dos Aventureiros a uma respeitada estrela em ascensão da organização.
                        Ela certamente se deu bem. Ela só conseguiu a cobiçada posição de Investigadora aos quatorze anos, em primeiro lugar, porque seus pais conseguiram persuadir o mestre da guilda.
                        Então, novamente, eles realmente teriam que persuadir muito?
                        Se ela é a Prinzessin der Verurteilung ... só podemos supor que isso os tornaria o Kaiser e Kaiserin der Verurteilung.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img
              class="masthead-avatar mt-5"
              src="../assets/img/genshin/characters/fischl/fischlGame.jpg"
              style="border-radius: 10px"
              alt=""
            />
            <div class="container">
              <div class="card bg-dark mb-3 mt-5" style="max-width: 100%;">
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <div class="card-body">
                      <h5 class="card-title">Conto Dois</h5>
                      <p class="card-text">Diz-se que atualmente existe um "Dicionário Fischl" em circulação entre os aventureiros.
                        Ou seja, um livro que visa traduzir a maneira peculiar de falar de Fischl em algo mais compreensível.
                        Por exemplo:
                        "Eu ouço ... ecoando no abismo do tempo, os ventos ardentes do antigo, todos os quais moldam a torre esquecida nas torrentes de carma" se traduziria em "Stormterror's Lair";
                        "Servos do nome Verurteilung! Como você solicitou, prepare-se para receber a grande sabedoria do prinzessin" seria "Vou dar uma olhada nisso e informá-lo o mais rápido possível";
                        "Alegrem-se! Ó, servos que anseiam pela bênção do prinzessin; aventurar-se agora profundamente no campo de batalha com o coração do tigre" significa que o trabalho investigativo inicial foi concluído;
                        "Tudo foi escrito neste tomo de profecias sombrias" significa simplesmente que seu diário foi atualizado com os relatórios mais recentes.
                        No entanto, o "Dicionário Fischl" é na verdade apenas uma piada interna, não um livro real.
                        Aqueles que estão familiarizados com Fischl se concentram no que ela quer dizer, não na maneira como o diz; ela percebe isso e considera isso um sinal de verdadeiro respeito.
                        "Aha! Então você entende. Então o destino realmente une almas gêmeas."
                        Aqueles que conseguem adotar seus maneirismos de fala quando respondem a ela vão descobrir que ela está encantada e tímida, e elogia sua habilidade de aprendizagem de línguas.
                        "Um prinzessin deve sempre elogiar onde o elogio é devido ... Agora, conversemos um pouco mais. Não se engane; esses são os alicerces do novo mundo ..."</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="masthead bg-custom text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="combate">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#combate">
            Talentos de Combate:
          </h1>          
          <br><br>
          <div class="card-deck mt-4">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/fischl/boltsOfDownfall.png" class="" style="width: 30%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Flecha da Culpa</h5>
                <p class="card-text" style="color: #1abc9c; font-weight: 600">
                  Ataque Normal:
                </p>
                <p class="card-text">
                  Executa até 5 tiros consecutivos com um arco.
                </p>
                <p class="card-text" style="color: #1abc9c; font-weight: 600">
                  Ataque Carregado:
                </p>
                <p class="card-text">
                  Realiza um <span style="color: #1abc9c;">Disparo com Mira</span> com Dano aumentado. DUrante a mira, espiritos sombrios dos relâmpagos da escuridão atenderão o chamado de sua Princesa
                         e residirão na ponta encantada de sua flecha. Quando estiver completamente incorporada, o relâmpago vingativo irá infligir um imenso <span style="color: #a15ec4;">Dano Electro</span>.
                </p>
                <p class="card-text" style="color: #1abc9c; font-weight: 600">
                  Ataque Imersivo:
                </p>
                <p class="card-text">
                  Dispara uma chuva de flechas no ar antes de cair e atingir o solo, distribuindo Dano de AdE(Área de efeito) no impacto.
                </p>
              </div>
              <table class="table table-striped table-dark" style="color: white;">
                <tbody>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 1º Golpe</th>
                    <th scope="col" style="text-align: right;">44.1%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 2º Golpe</th>
                    <th scope="col" style="text-align: right;">46.8%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 3º Golpe</th>
                    <th scope="col" style="text-align: right;">58.1%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 4º Golpe</th>
                    <th scope="col" style="text-align: right;">57.7%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 5º Golpe</th>
                    <th scope="col" style="text-align: right;">72.1%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Disparo com Mira</th>
                    <th scope="col" style="text-align: right;">43.9%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Disparo com Mira com Energização Completa</th>
                    <th scope="col" style="text-align: right;">124%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano Durante a Queda</th>
                    <th scope="col" style="text-align: right;">56.8%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de Queda de <br> Alta/Baixa Altitude</th>
                    <th scope="col" style="text-align: right;">114% / 142%</th>
                  </tr>
                </tbody>
              </table>
              <div class="card-footer">
                <small class="">Ataque Normal</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/fischl/nightrider.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Asas da Vigilância Noturna</h5>
                <p class="card-text">Evoca o Oz. O corvo da noite moldado pela escuridão e relâmpagos desce à terra, infligindo <span style="color: #a15ec4;">Dano Electro</span> em uma pequena AdE.
                  Durante a duração da habilidade, Oz irá continuamente atacar inimigos próximos com <span style="color: #a15ec4;">Bolas Eletrificantes.</span>
                </p>
                <p>Mantenha pressionado para ajustar a localização de onde o Oz será evocado. Pressione a qualquer momento durante a duração da habilidade para chamá-lo novamente para o lado de Fischl.</p>
                  <table class="table table-striped table-dark" style="color: white;">
                    <tbody>
                      <tr>
                        <th scope="col" style="text-align: left;">Dano de ATQ de Oz</th>
                        <th scope="col" style="text-align: right;">88.8%</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Dano de Invocação</th>
                        <th scope="col" style="text-align: right;">115%</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Duração de Oz</th>
                        <th scope="col" style="text-align: right;">10s</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Tempo de Recarga</th>
                        <th scope="col" style="text-align: right;">25s</th>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="card-footer">
                <small class="">Habilidade Elemental</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/fischl/midnightPhantasmagoria.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Ilusão Noturna</h5>
                <p class="card-text">Evoca Oz para estender suas asas gêmeas do crepúsculo e defender Fischl. Tem as seguintes propriedades durante a duração da habilidade:</p>
                <p class="card-text">Fischl se trasnforma na forma de Oz, aumentando incrivelmente sua Velocidade de Movimento. Ataca inimigos próximos com relâmpago, infligindo <span style="color: #a15ec4;">Dano Electro</span>
                  em inimigos que ela entra em contato. Cada inimigo pode apenas ser atingido uma única vez. Quando o efeito desta habilidade acaba, Oz continuará em campo, então reiniciará a duração de sua presença</p>
                  <table class="table table-striped table-dark" style="color: white;">
                    <tbody>
                      <tr>
                        <th scope="col" style="text-align: left;">Dano de Eletrocutamento</th>
                        <th scope="col" style="text-align: right;">208%</th>
                      </tr>
                        <th scope="col" style="text-align: left;">Tempo de Recarga</th>
                        <th scope="col" style="text-align: right;">15s</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Energia Elemental</th>
                        <th scope="col" style="text-align: right;">60</th>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="card-footer">
                <small class="">Explosāo Elemental</small>
              </div>
            </div>
          </div>
          <br><br>
          <div class="container">
            <h1 class="page-section-heading text-center text-uppercase text-white mb-4 mt-5" id="#passivo">
              Talentos Passivos:
            </h1> 
            <br><br>
            <div class="card-deck mt-4">
              <div class="card text-white bg-dark">
                <img src="../assets/img/genshin/characters/fischl/stellarPredator.png" class="" style="width: 30%; margin: auto;"  alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Predador Estrelar</h5>
                  <p class="card-text">
                    Quando Fischl atinge Oz com um Disparo com Mira totalmente carregado, Oz traz a Retribuição Trovejante, causando 
                        <span style="color: #a15ec4;">Dano Electro AdE</span> igual a 152.7% do Dano da flecha.
                  </p>
                </div>
                <div class="card-footer">
                  <small class="">Desbloqueado na Ascensão 1</small>
                </div>
              </div>
              <div class="card text-white bg-dark">
                <img src="../assets/img/genshin/characters/fischl/lightningSmite.png" class="" style="width: 30%; margin: auto;" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Golpe de Relâmpago</h5>
                  <p class="card-text">Se um personagem disparar uma Reação Elemental Electro-relacionada quando Oz está no campo, 
                    o inimigo será atingido com Thundering Retribution, causando <span style="color: #a15ec4;">Dano Electro</span> igual a 80% do ATQ de Fischl.</p>
                </div>
                <div class="card-footer">
                  <small class="">Desbloqueado na Ascensão 4</small>
                </div>
              </div>
              <div class="card text-white bg-dark">
                <img src="../assets/img/genshin/characters/fischl/meinHausgarten.png" class="" style="width: 30%; margin: auto;" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Meu Jardim Secreto</h5>
                  <p class="card-text">Quando despachado em uma expedição en Mondstadt, o tempo consumido é reduzido em 25%.</p>
                </div>
                <div class="card-footer">
                  <small class="">Desbloqueado Automaticamente</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-dark text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="constelacoes">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#constelacoes">
            Constelaçōes:
          </h1> 
          <br><br>
          <div class="card-deck mt-5">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/fischl/gazeOfTheDeep.png" class="" style="width: 30%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Olhar das Profundezas</h5>
                <p class="card-text">Mesmo que Oz não esteja presente no combate, ele ainda pode protejer Fischl através dos seus Olhos de Corvo.
                  Quando Fischl ataca um inimigo, Oz atacará simultaneamente, causando 22% de Dano de ATQ.</p>
              </div>
              <div class="card-footer">
                <small class="">Constelaçāo Nível 1</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/fischl/devourerOfAllSins.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Devorador de Todos os Pecados</h5>
                <p class="card-text">Quando as <span style="color: #1abc9c;">Asas da Vigilâcia Noturna</span> são usadas, causa um adicional de 200% de ATQ como Dano e a sua AdE é
                  aumentada em 50%.</p>
              </div>
              <div class="card-footer">
                <small class="">Constelaçāo Nível 2</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/fischl/nightrider.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Asas do Pesadelo</h5>
                <p class="card-text">Aumenta o nível de <span style="color: #1abc9c;">Asas da Vigilâcia Noturna</span> em 3. O nível máximo de atualização é 15.</p>
              </div>
              <div class="card-footer">
                <small class="">Constelaçāo Nível 3</small>
              </div>
            </div>
          </div>
          <div class="card-deck mt-5">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/fischl/herPilgrimageOfBleak.png" class="" style="width: 30%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Fantasia da Rainha</h5>
                <p class="card-text">Quando a Ilusão Noturna é usado, ele distribui 222% do ATQ como <span style="color: #a15ec4;">Dano Electro</span> para os inimigos ao redor.
                  Quando a duração da habilidade termina, Fischl regenera 20% de seus Pontos de Vida.</p>
              </div>
              <div class="card-footer">
                <small class="">Constelaçāo Nível 4</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/fischl/midnightPhantasmagoria.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Noite Silenciosa</h5>
                <p class="card-text">Aumenta o nível da <span style="color: #1abc9c;">Ilusão Noturna</span> em 3. O nível máximo de atualização é 15.</p>
              </div>
              <div class="card-footer">
                <small class="">Constelaçāo Nível 5</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/fischl/lightningSmite.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Corvo da Noite Eterna</h5>
                <p class="card-text">Aumenta a duração da invocação de Oz em 2s. Além disso, Oz ataca com o personagem atual quando presente, tratando 30% do ATQ de Fischl como <span style="color: #a15ec4;">Dano Electro</span>.</p>
              </div>
              <div class="card-footer">
                <small class="">Constelaçāo Nível 6</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-custom text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="build">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-5" id="#build">
            Melhores Builds:
          </h1>  
          <br><br>
          <div class="card-deck">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/elements/electro.png" class="mt-4" style="width: 20%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Build de Suporte</h5>
                <p class="card-text">Esta construção capacita o Dano Electro de Fischl em suas habilidades. 
                  Você também pode usar um conjunto Noblesse Oblige completo se estiver usando o Explosão Elemental dela com frequência.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><span style="color: #a15ec4;">Electro</span></small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/fischl/theStringless.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">The Stringless</h5>
                <p class="card-text">Aumenta a habilidade elemental e o Dano de explosão elemental em <span style="color: #17a2b8; font-weight: 600;">24/30/36/42/48%</span>.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                </small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/fischl/Item_Gambler_4-star.png" class="mt-4" style="width: 20%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Gambler</h5>
                <p class="card-text">(2) Dano de habilidade elementar aumentada em 20%</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Conjuntos de Artefatos</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/fischl/Item_Thundering_Fury_5-star.png" class="mt-4" style="width: 20%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Thundering Fury</h5>
                <p class="card-text">(2) Bonús de Dano Electro +15%</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Conjuntos de Artefatos</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-dark text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="ascension">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#ascension">
            Ascensão:
          </h1>  
          <br><br>
          <div class="ml-2 mr-2 table-responsive">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Ascensão</th>
                  <th scope="col">Max Lv.</th>
                  <th scope="col"><img src="../assets/img/genshin/mora.png" alt=""></th>
                  <th scope="col">Material Elemental 1</th>
                  <th scope="col">Material Elemental 2</th>
                  <th scope="col">Especialidade Local</th>
                  <th scope="col">Material Comum</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="align-middle" scope="row">1st</th>
                  <td class="align-middle">20</td>
                  <td class="align-middle">20,000</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Vajrada_Amethyst_Sliver.png" alt="Vayuda_Turquoise_Sliver"><br><br>Prata de Ametista Vajrada x1</td>
                  <td class="align-middle">Nenhum</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Small_Lamp_Grass.png" alt="CorLapis"><br><br>Lâmpada de Grama x3</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Firm_Arrowhead.png" alt="DamagedMask"><br><br>Flechas Robustas x3</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">2nd</th>
                  <td class="align-middle">40</td>
                  <td class="align-middle">40,000</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Vajrada_Amethyst_Fragment.png" alt="ShivadaJadeFragment"><br><br>Fragmento de Ametista Vajrada x3</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Lightning_Prism.png" alt="ShivadaJadeFragment"><br><br>Prisma Relâmpago x2</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Small_Lamp_Grass.png" alt="CorLapis"><br><br>Lâmpada de Grama x10</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Firm_Arrowhead.png" alt="DamagedMask"><br><br>Flechas Robustas x15</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">3rd</th>
                  <td class="align-middle">50</td>
                  <td class="align-middle">60,000</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Vajrada_Amethyst_Fragment.png" alt="ShivadaJadeFragment"><br><br>Fragmento de Ametista Vajrada x6</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Lightning_Prism.png" alt="ShivadaJadeFragment"><br><br>Prisma Relâmpago x4</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Small_Lamp_Grass.png" alt="CorLapis"><br><br>Lâmpada de Grama x20</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Sharp_Arrowhead.png" alt="DamagedMask"><br><br>Flechas Afiadas x12</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">4th</th>
                  <td class="align-middle">60</td>
                  <td class="align-middle">80,000</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Vajrada_Amethyst_Chunk.png" alt="ShivadaJadeFragment"><br><br>Pedaço de Ametista Vajrada x3</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Lightning_Prism.png" alt="ShivadaJadeFragment"><br><br>Prisma Relâmpago x8</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Small_Lamp_Grass.png" alt="CorLapis"><br><br>Lâmpada de Grama x30</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Sharp_Arrowhead.png" alt="DamagedMask"><br><br>Flechas Afiadas x18</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">5th</th>
                  <td class="align-middle">70</td>
                  <td class="align-middle">240,000</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Vajrada_Amethyst_Chunk.png" alt="ShivadaJadeFragment"><br><br>Pedaço de Ametista Vajrada x6</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Lightning_Prism.png" alt="ShivadaJadeFragment"><br><br>Prisma Relâmpago x12</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Small_Lamp_Grass.png" alt="CorLapis"><br><br>Lâmpada de Grama x45</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Weathered_Arrowhead.png" alt="DamagedMask"><br><br>Flechas Usadas x16</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">6th</th>
                  <td class="align-middle">80</td>
                  <td class="align-middle">?</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Vajrada_Amethyst_Gemstone.png" alt="ShivadaJadeFragment"><br><br>Gema de de Ametista Vajrada x6</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Lightning_Prism.png" alt="ShivadaJadeFragment"><br><br>Prisma Relâmpago x20</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Small_Lamp_Grass.png" alt="CorLapis"><br><br>Lâmpada de Grama x60</td>
                  <td><img src="../assets/img/genshin/characters/fischl/Item_Weathered_Arrowhead.png" alt="DamagedMask"><br><br>Flechas Usadas x24</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">Máximo</th>
                  <td class="align-middle">90</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer-->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Nooberando</h4>
            <p class="lead mb-0" style="text-align: left;"> 
              O Nooberando não é afiliado ou endossado pela miHoYo. 
              <br>
              Nooberando é um website que inclue banco de dados e lista de níveis para o jogo Genshin Impact. 
              <br>
              O jogo está disponível para PC, Switch, Playstation 4 e aplicativo de jogo mobile no iOS e Android.
            </p>
          </div>
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Links da Comunidade</h4>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-facebook-f"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-twitter"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-linkedin-in"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-dribbble"></i
            ></a>
          </div>
          <!-- Footer About Text-->
          <!-- <div class="col-lg-4">
            <img src="../assets/img/genshin/characters/diluc/dilucLarge.png" class="footerImg" alt="Diluc">
          </div> -->
        </div>
      </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
      <div class="container"><small>Copyright ©</small></div>
    </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
      <a
        class="js-scroll-trigger d-block text-center text-white rounded"
        href="#page-top"
        ><i class="fa fa-chevron-up"></i
      ></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="../assets/mail/jqBootstrapValidation.js"></script>
    <script src="../assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
    <!-- Read More -->
    <script>
      function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");
      
        if (dots.style.display === "none") {
          dots.style.display = "inline";
          btnText.innerHTML = "Read more"; 
          moreText.style.display = "none";
        } else {
          dots.style.display = "none";
          btnText.innerHTML = "Read less"; 
          moreText.style.display = "inline";
        }
      }
      </script>
  </body>
</html>
