<!DOCTYPE html>
<html lang="pt">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MS3SPVX");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Site sobre Games e Jogos" />
    <meta name="author" content="Ramon Barros" />
    <title>Nooberando</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <link href="../css/index.css" rel="stylesheet" />
    <link href="../css/character.css" rel="stylesheet" />
    <script
      data-ad-client="ca-pub-2764098734610196"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
  </head>
  <body id="page-top">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MS3SPVX"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->‰
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"
          >Nooberando</a
        >
        <button
          class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#biografia"
                >Biografia</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#combate"
                >Talentos</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#constelacoes"
                >Constelaçōes</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#build"
                >Build</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#ascension"
                >Ascençāo</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="../index.html"
                >Voltar</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br>  
    <img src="../assets/img/genshinOne.jpg" class="testImg" alt="">
    <div class="container">
      <p class="text-secondary text-uppercase charName">Chongyun</p>          
      <img class="charImg" src="../assets/img/genshin/characters/chongyun/chongyunLarge.png" alt="chongyun">
    </div>
    <header class="masthead bg-custom text-white text-center" style="clear: both;">
      <!-- Masthead Heading-->
      <section class="page-section portfolio" id="biografia">

        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#biografia">
            Biografia:
          </h1>
          <div class="" style="text-align: left"> 
            <table class="table table-striped table-dark" style="color: white;">
                <tbody>
                  <tr>
                    <th scope="col"><span >Aniversário:</span></th>
                    <th scope="col" style="text-align: right;">7/9</th>
                  </tr>
                  <tr>
                    <th scope="col">Afiliaçāo:</th>
                    <th scope="col" style="text-align: right;">Porto de Liyue</th>
                  </tr>
                  <tr>
                    <th scope="col">Elemento:</th>
                    <th scope="col" style="text-align: right; color: #28e3ed;">Cryo</th>
                  </tr>
                  <tr>
                    <th scope="col">Constelaçāo:</th>
                    <th scope="col" style="text-align: right;">Nubis Caesor</th>
                  </tr>
                  <tr>
                    <th scope="col">Raridade:</th>
                    <th scope="col" style="text-align: right;">
                      <!-- Icon Divider-->
                        <i class="fas fa-star" style="color: #D4AF37;"></i>
                        <i class="fas fa-star" style="color: #D4AF37;"></i>
                        <i class="fas fa-star" style="color: #D4AF37;"></i>
                        <i class="fas fa-star" style="color: #D4AF37;"></i>
                    </th>
                  </tr>
                  <tr>
                    <th scope="col">Arma:</th>
                    <th scope="col" style="text-align: right;">Espada de Duas Mãos</th>
                  </tr>
                </tbody>
              </table>
              <br>
          </div>
          
          <div class="row mt-5 container">
            
              <p class="lead">
                Um jovem exorcista que perambula pela terra tendo Liyue como base de operações, espíritos malignos fugindo para onde quer que vá. 
                Como herdeiro de um clã de exorcistas, ele sempre possuiu habilidades superiores à maioria. No entanto, essas habilidades não são o 
                resultado do treinamento, mas de uma característica inata - positividade congênita. <br><br>  
                Chongyun nasceu em uma família renomada de exorcistas e possuía a habilidade 
                natural de afastar os maus espíritos desde jovem devido à sua positividade congênita. 
                Seus poderes de exorcismo estão muito além do normal: sua mera presença é suficiente 
                para dispersar os espíritos malignos. <br><br>             
                No entanto, isso provou ser um inconveniente para o próprio Chongyun, pois embora ele tenha empreendido centenas de exorcismos bem-sucedidos, 
                ele nunca viu um único fantasma ou demônio. <br><br>
                Chongyun acredita que um verdadeiro exorcista deve exorcizar o mal com encantos e esgrima. Essa habilidade natural que ele tem ... 
                simplesmente não é ortodoxa. <br><br>
            <img
              class="masthead-avatar"
              src="../assets/img/genshin/characters/chongyun/chongyunOpenWorld.webp"
              style="border-radius: 10px"
              alt=""
            />
              <p class="lead">
                Por isso, tem se dedicado ao estudo de técnicas de exorcismo e artes marciais, além de buscar os esconderijos de espíritos malignos para se provar 
                um exorcista profissional e competente mesmo sem sua condição física peculiar.<br><br>
                Com Liyue como sua base de operações, o exorcista Chongyun vagueia pela terra, livrando-a do mal. Como herdeiro de um clã de exorcistas, 
                ele sempre possuiu habilidades superiores à maioria. No entanto, essa habilidade não é o resultado do treinamento, mas de uma característica 
                inata que ele chamou de "positividade congênita".<br><br>
                A positividade congênita é uma fisiologia extremamente rara que torna o corpo suscetível ao aquecimento devido a uma superabundância de energia positiva. 
                Se não for verificado, aqueles que possuem tal forma podem facilmente tornar-se sangue quente. Chongyun é um caso particularmente sério, suas mudanças de 
                humor são explosivas e ele não se lembra de nada de tais episódios. No entanto, a condição de Chongyun também é seu maior trunfo, pois tudo o que ele precisa 
                fazer para expulsar os espíritos malignos é sentar-se um pouco em qualquer canto escuro que eles possam assombrar.<br><br>
                Como tal, o caminho de Chongyun como exorcista foi tão tranquilo quanto pode ser. No entanto, ele mesmo não aprova essa maneira de fazer as coisas. 
                Em seu coração honesto e reto, apoiar-se em sua fisiologia única para exorcizar o mal é apenas um truque barato. Um exorcista deve, em sua avaliação, 
                cumprir seus deveres com as artes de um exorcista.<br><br>
  
              </p>
            </div>
          </div>
        </div>
      </section>
    </header>
    <section class="masthead bg-dark text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="combate">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#combate">
            Talentos de Combate:
          </h1>          
          <div class="mt-5 container">               
              <img
                class="mt-4"
                style="width: 5rem"
                src="../assets/img/genshin/characters/jean/avoniusBladework.png"
                alt="favoniusBladework"
              />
              <p style="color: #1abc9c; font-weight: 600" class="lead">
                  Têcnica de Favonius
              </p>
              <p class="lead">Ataque Normal</p>
              <div class="ml-4 mr-4" style="text-align: left">
                <p class="lead" style="color: #1abc9c; font-weight: 600">
                  Ataque Normal:
                </p>
                <p class="lead">Realiza até 5 golpes rápidos.</p>
                <p class="lead" style="color: #1abc9c; font-weight: 600">
                  Ataque Carregado:
                </p>
                <p class="lead">Consome certa quantidade de Stamina para lançar um inimigo ao ar usando o poder do vento. 
                  Inimigos lançados cairão lentamente ao chāo.
                </p>
                <p class="lead" style="color: #1abc9c; font-weight: 600">
                  Ataque Profundo:
                </p>
                <p class="lead">Mergulha do ar para atingir o chāo abaixo, causando Dano aos inimigos ao longo do caminho e causando AdE Dano no impacto.
                </p>
                <table class="table table-striped table-dark" style="color: white;">
                  <tbody>
                    <tr>
                      <th scope="col">Dano de 1º Golpe</th>
                      <th scope="col" style="text-align: right;">48.3%</th>
                    </tr>
                    <tr>
                      <th scope="col">Dano de 2º Golpe</th>
                      <th scope="col" style="text-align: right;">45.6%</th>
                    </tr>
                    <tr>
                      <th scope="col">Dano de 3º Golpe</th>
                      <th scope="col" style="text-align: right;">65.3%</th>
                    </tr>
                    <tr>
                      <th scope="col">Dano de 4º Golpe</th>
                      <th scope="col" style="text-align: right;">65.9%</th>
                    </tr>
                    <tr>
                      <th scope="col">Dano de 5º Golpe</th>
                      <th scope="col" style="text-align: right;">79.2%</th>
                    </tr>
                    <tr>
                      <th scope="col">Dano de Ataque Carregado</th>
                      <th scope="col" style="text-align: right;">162%</th>
                    </tr>
                    <tr>
                      <th scope="col">Consumo de Stamina de Ataque Carregado</th>
                      <th scope="col" style="text-align: right;">20</th>
                    </tr>
                    <tr>
                      <th scope="col">Dano Durante a Queda</th>
                      <th scope="col" style="text-align: right;">63.9%</th>
                    </tr>
                    <tr>
                      <th scope="col">Dano de Queda de Alta/Baixa Altitude</th>
                      <th scope="col" style="text-align: right;">128% / 160%</th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <img
              class="mt-4"
                style="width: 5rem"
                src="../assets/img/genshin/characters/jean/galeBlade.png"
                alt="letShowBegin"
              />
              <p class="lead" style="color: #1abc9c; font-weight: 600">
                  Espada do Temporal
              </p>
              <p class="lead">Habilidade Elemental</p>
              <div class="ml-4 mr-4" style="text-align: left">
                <p class="lead">Canalizando o poder do vento sem forma em volta da sua espada, Jean libera uma miniatura de uma tempestade, lançando inimigos na direçāo em que ela mira, 
                  causando um <span style="color: #28a745;">Dano Anemo</span> massivo.
                </p>
                <p class="lead" style="color: #1abc9c; font-weight: 600;">
                  Manter Pressionado
                </p>
                <p class="lead">Ao custo de um consumo constante de Stamina, Jean pode comandar um turbilhāo que suga inimigos próximos à sua frente. A direçāo pode ser controlada. 
                  O personagem fica imóvel durante a duraçāo da habilidade.
                </p>
                <p class="lead" style="font-style: italic;">Aquilo que segue Jean, a defensora convicta, e um vento guardiāo que pode expulsar o perigo da presença de seus companheiros.</p>
                <table class="table table-striped table-dark" style="color: white;">
                  <tbody>
                    <tr>
                      <th scope="col">Dano de Habilidade</th>
                      <th scope="col" style="text-align: right;">292%</th>
                    </tr>
                    <tr>
                      <th scope="col">Consumo de Stamina</th>
                      <th scope="col" style="text-align: right;">20 por segundo</th>
                    </tr>
                    <tr>
                      <th scope="col">Duraçāo Máxima</th>
                      <th scope="col" style="text-align: right;">5s</th>
                    </tr>
                    <tr>
                      <th scope="col">Tempo de Recarga</th>
                      <th scope="col" style="text-align: right;">6s</th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <img
              class="mt-4"
              style="width: 5rem"
              src="../assets/img/genshin/characters/jean/dandelionBreeze.png"
              alt="shiningMiracle"
              />
              <p class="lead" style="color: #1abc9c; font-weight: 600">
                Brisa de Dandelion
              </p>
              <p class="lead">Explosāo Elemental</p>
              <div class="ml-4 mr-4" style="text-align: left">
                <p class="lead">Invocando a proteçāo do vento, Jean cria um Campo Dandelion rodopiante, lançando inimigos ao redor e causando <span style="color: #28a745;">Dano Anemo</span> 
                  Ao mesmo tempo, ela regenera instantaneamente uma grande quantidade de Vida para todos os membros da equipe. A vida restaurada dimensiona o ATQ de Jean.</p>
                <p class="lead" style="color: #1abc9c; font-weight: 600">
                  Campo Dandelions
                </p>
                <p class="lead">
                  Regenera continuamente a Vida de um aliado e os ativam atributo Anemo. Causa <span style="color: #28a745;">Dano Anemo</span> aos inimigos que entram ou saem do campo.
                </p>
                <p style="font-style: italic;">A magnanimidade de Jean é tāo vasta quanto os Dandelions, e é a raiz de seu desejo de proteger os outros.</p>
                <table class="table table-striped table-dark" style="color: white;">
                  <tbody>
                    <tr>
                      <th scope="col">Dano da Explosāo</th>
                      <th scope="col" style="text-align: right;">425%</th>
                    </tr>
                    <tr>
                      <th scope="col">Dano de Entrada e Saída da Área</th>
                      <th scope="col" style="text-align: right;">78.4%</th>
                    </tr>
                    <tr>
                      <th scope="col">Cura de Ativaçāo de Área</th>
                      <th scope="col" style="text-align: right;">251% do atq + 154/s</th>
                    </tr>
                    <tr>
                      <th scope="col">Regeneraçāo Contínua</th>
                      <th scope="col" style="text-align: right;">25.12% atq + 154/s</th>
                    </tr>
                    <tr>
                      <th scope="col">Tempo de Recarga</th>
                      <th scope="col" style="text-align: right;">20s</th>
                    </tr>
                    <tr>
                      <th scope="col">Energia Elemental</th>
                      <th scope="col" style="text-align: right;">80</th>
                    </tr>
                  </tbody>
                </table>
                <br>
              </div>
          </div>
          <div class="container">
            <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#passivo">
              Talentos Passivos:
            </h1> 
            <img
            class="mt-4"
            style="width: 5rem"
            src="../assets/img/genshin/characters/jean/windCompanion.png"
            alt="evilConquerorTamerDemons"
            />
            <p class="lead" style="color: #1abc9c; font-weight: 600">
                Companhia do Vento
            </p>
            <p class="lead">Desbloqueado na Ascensão 1</p>
            <div class="ml-4 mr-4">
              <p class="lead">Ao acertar Ataques Normais, possui 50% de chance de regenerar a Vida equivalente a 15% do ATQ de Jean para todos os membros da Equipe.</p>
            </div>
            <img
            class="mt-4"
            style="width: 5rem"
            src="../assets/img/genshin/characters/jean/lettheWindLead.png"
            alt="dissolutionEonHeavenFall"
            />
            <p class="lead" style="color: #1abc9c; font-weight: 600">
              Deixe o Vento Levar
            </p>
            <p class="lead">Desbloqueado na Ascensão 4</p>
            <div class="ml-4 mr-4">
              <p class="lead">Após usar a <span style="color: #1abc9c;">Brisa de Dandelion</span> regenera 20% de Energia Elemental</p>
            </div>
            <p class="lead" style="color: #1abc9c; font-weight: 600">
                Brisa de Planagem
            </p>
            <p class="lead">Desbloqueado Automaticamente</p>
            <div class="ml-4 mr-4">
              <p class="lead">Quando uma Culinária Perfeita é feita em uma comida com efeito de recuperaçāo, tem uma chance de 12% de receber o dobro de produção.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-custom text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="constelacoes">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#constelacoes">
            Constelaçōes:
          </h1> 
          <img
          class="mt-4"
          style="width: 5rem"
          src="../assets/img/genshin/characters/jean/spiralingTempest.png"
          alt="dissolutionEonDestroyerWorlds"
          />
          <p class="lead" style="color: #1abc9c; font-weight: 600">
              Tempestade Espiral
          </p>
          <p class="lead">Constelaçāo Nível 1</p>
          <div class="ml-4 mr-4" >
            <p class="lead">Aumenta a velocidade da <span style="color: #1abc9c;">Espada do Temporal</span>após manter pressionado por mais de 1s e aumenta o dano causando 40%.</p>
          </div>
          <img
          class="mt-4"
          style="width: 5rem"
          src="../assets/img/genshin/characters/jean/peoplesAegis.png"
          alt="annihilationEonBlossomKaleidos"
          />
          <p class="lead" style="color: #1abc9c; font-weight: 600">
              Égide do Povo
          </p>
          <p class="lead">Constelaçāo Nível 2</p>
          <div class="ml-4 mr-4">
            <p class="lead">Quando a Jean pega um Orbe/Partícula Elemental, todos os membros terāo sua Veloc. Mov. e VEL de ATQ aumentados em 15% por 15s.</p>
          </div>
          <img
          class="mt-4"
          style="width: 5rem"
          src="../assets/img/genshin/characters/jean/whentheWestWindArises.png"
          alt="evilConquerorWrathDeity"
          />
          <p class="lead" style="color: #1abc9c; font-weight: 600">
              Quando o Vento do Oeste SOpra
          </p>
          <p class="lead">Constelaçāo Nível 3</p>
          <div class="ml-4 mr-4">
            <p> class="lead"
              Aumenta o nível da <span style="color: #1abc9c;">Brisa de Dandeliona</span> em 3.
              O nível máximo de atualização é 15.</p>
          </div>
          <img
          class="mt-4"
          style="width: 5rem"
          src="../assets/img/genshin/characters/jean/landsofDandelion.png"
          alt="transcensionExtinctionSuffering"
          />
          <p class="lead" style="color: #1abc9c; font-weight: 600">
              Terra dos Dandelions
          </p>
          <p class="lead">Constelaçāo Nível 4</p>
          <div class="ml-4 mr-4">
            <p class="lead">Dentro do Campo criado pela <span style="color: #1abc9c;">Brisa de Dandeliona</span>, todos os inimigos têm sua 
              <span style="color: #28a745;">RES Anemo</span> diminuída em 40%</p>
          </div>
          <img
          class="mt-4"
          style="width: 5rem"
          src="../assets/img/genshin/characters/jean/outburstingGust.png"
          alt=""
          />
          <p class="lead" style="color: #1abc9c; font-weight: 600">
            Rajada Explosiva
          </p>
          <p class="lead">Constelaçāo Nível 5</p>
          <div class="ml-4 mr-4">
              <p class="lead">
                  Aumente o Nível da <span style="color: #1abc9c;">Espada do Temporal</span> em 3.
                  O nível máximo de atualização é 15.</p> 
          </div>
          <img
          class="mt-4"
          style="width: 5rem"
          src="../assets/img/genshin/characters/jean/lionsFangFairProtectorMondstadt.png"
          alt=""
          />
          <p class="lead" style="color: #1abc9c; font-weight: 600">
              Presa do Leāo, Protetor de Mondstadt
          </p>
          <p class="lead">Constelaçāo Nível 6</p>
          <div class="ml-4 mr-4">
            <p class="lead">Dano recebido é reduzido em 35% dentro da Área criada por <span style="color: #1abc9c;">Brisa de Dandelion</span>. Após sair do Campo de Dandelions, este efeito dura por 3 ataques ou 10 segundos.</p>
          </div>
          <br>
        </div>
      </div>
    </section>

    <section class="masthead bg-dark text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="build">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#build">
            Melhores Builds:
          </h1>  
            <p class="lead" style="color: #1abc9c; font-weight: 600">
              Suporte Build de <span style="color: #28a745;">Anemo</span>
            </p>
            <p class="ml-4 mr-4 lead" style="text-align: left"> 
              Esta construção capacita a Explosāo Elemental da Jean para maximizar sua cura, enquanto simultaneamente reduz o RES Elemental dos inimigos para o resto do seu grupo.
            </p>
            <p class="mt-4 lead" style="font-weight: 600">
              Arma:</span>
            </p>
            <img
            class=""
            style="width: 5rem; border: .5px solid #222222; border-radius: 0.5rem;box-shadow: 3px 3px #222222;"
            src="../assets/img/genshin/characters/jean/theFlute.png"
            alt=""
            />
            <br>
            <br>
            <p class="lead" style="color: #1abc9c; font-weight: 600">
                The Flute
            </p>
            <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
            <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
            <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
            <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
            <br>
            <br>
            <div class="ml-4 mr-4 lead">
                <p>Ataques normais ou carregados concedem harmônicos aos acertos. Ganhar 5 Harmônicas ativa o poder da música e distribui <span style="color: #17a2b8; font-weight: 600;">100/125/150/175/200%</span>  Dano de ATQ 
                  para os inimigos ao redor. Os harmônicos duram até 30s e um máximo de 1 pode ser obtido a cada 0,5s.
                </p>
            </div>
            <p class="mt-4 lead" style="font-weight: 600">
              Conjuntos de Artefatos:
            </p>
            <p class="lead" style="color: #28a745; font-weight: 600">
              Noblesse Oblige
            </p>
            <div class="ml-4 mr-4">
              <p>(2) Dano da Explosão elementar + 20%</p>
              <p>(4) Usando a Explosão elementar, aumente o ATQ de todos os membros do grupo em 20% por 12s. Este efeito não pode ser acumulado.</p>
            </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-custom text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="ascension">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#ascension">
            Ascensão:
          </h1>  
          <div class="ml-2 mr-2 table-responsive">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Ascensão</th>
                  <th scope="col">Max Lv.</th>
                  <th scope="col"><img src="../assets/img/genshin/mora.png" alt=""></th>
                  <th scope="col">Material Elemental 1</th>
                  <th scope="col">Material Elemental 2</th>
                  <th scope="col">Especialidade Local</th>
                  <th scope="col">Material Comum</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="align-middle" scope="row">1st</th>
                  <td class="align-middle">20</td>
                  <td class="align-middle">20,000</td>
                  <td><img src="../assets/img/genshin/itemShivadaJadeSliver.png" alt="ShivadaJadeSliver"><br><br>Prata de Jade Shivada x1</td>
                  <td class="align-middle">Nenhum</td>
                  <td><img src="../assets/img/genshin/ItemCorLapis.png" alt="CorLapis"><br><br>Cor Lapis x3</td>
                  <td><img src="../assets/img/genshin/itemDamagedMask.png" alt="DamagedMask"><br><br>Máscara Danificada x3</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">2nd</th>
                  <td class="align-middle">40</td>
                  <td class="align-middle">40,000</td>
                  <td><img src="../assets/img/genshin/itemShivadaJadeFragment.png" alt="ShivadaJadeFragment"><br><br>Fragmento de Jade Shivada x3</td>
                  <td><img src="../assets/img/genshin/itemHoarfrostCore.png" alt="ShivadaJadeFragment"><br><br>Núcleo de Geada x2</td>
                  <td><img src="../assets/img/genshin/ItemCorLapis.png" alt="CorLapis"><br><br>Cor Lapis x10</td>
                  <td><img src="../assets/img/genshin/itemStainedMask.png" alt="DamagedMask"><br><br>Máscara Danificada x15</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">3rd</th>
                  <td class="align-middle">50</td>
                  <td class="align-middle">60,000</td>
                  <td><img src="../assets/img/genshin/itemShivadaJadeFragment.png" alt="ShivadaJadeFragment"><br><br>Fragmento de Jade Shivada x6</td>
                  <td><img src="../assets/img/genshin/itemHoarfrostCore.png" alt="ShivadaJadeFragment"><br><br>Núcleo de Geada x4</td>
                  <td><img src="../assets/img/genshin/ItemCorLapis.png" alt="CorLapis"><br><br>Cor Lapis x20</td>
                  <td><img src="../assets/img/genshin/itemDamagedMask.png" alt="DamagedMask"><br><br>Máscara Suja x12</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">4th</th>
                  <td class="align-middle">60</td>
                  <td class="align-middle">80,000</td>
                  <td><img src="../assets/img/genshin/itemShivadaJadeChunk.png" alt="ShivadaJadeFragment"><br><br>Pedaço de Jade Shivada x3</td>
                  <td><img src="../assets/img/genshin/itemHoarfrostCore.png" alt="ShivadaJadeFragment"><br><br>Núcleo de Geada x8</td>
                  <td><img src="../assets/img/genshin/ItemCorLapis.png" alt="CorLapis"><br><br>Cor Lapis x30</td>
                  <td><img src="../assets/img/genshin/itemDamagedMask.png" alt="DamagedMask"><br><br>Máscara Suja x18</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">5th</th>
                  <td class="align-middle">70</td>
                  <td class="align-middle">?</td>
                  <td><img src="../assets/img/genshin/itemShivadaJadeChunk.png" alt="ShivadaJadeFragment"><br><br>Pedaço de Jade Shivada x6</td>
                  <td><img src="../assets/img/genshin/itemHoarfrostCore.png" alt="ShivadaJadeFragment"><br><br>Núcleo de Geada x12</td>
                  <td><img src="../assets/img/genshin/ItemCorLapis.png" alt="CorLapis"><br><br>Cor Lapis x45</td>
                  <td><img src="../assets/img/genshin/itemOminousMask.png" alt="DamagedMask"><br><br>Máscara Ominosa x16</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">6th</th>
                  <td class="align-middle">80</td>
                  <td class="align-middle">?</td>
                  <td><img src="../assets/img/genshin/itemShivadaJadeGemstone.png" alt="ShivadaJadeFragment"><br><br>Gema de Jade Shivada x6</td>
                  <td><img src="../assets/img/genshin/itemHoarfrostCore.png" alt="ShivadaJadeFragment"><br><br>Núcleo de Geada x20</td>
                  <td><img src="../assets/img/genshin/ItemCorLapis.png" alt="CorLapis"><br><br>Cor Lapis x60</td>
                  <td><img src="../assets/img/genshin/itemOminousMask.png" alt="DamagedMask"><br><br>Máscara Ominosa x24</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">Máximo</th>
                  <td class="align-middle">90</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer-->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Nooberando</h4>
            <p class="lead mb-0" style="text-align: left;"> 
              O Nooberando não é afiliado ou endossado pela miHoYo. 
              <br>
              Nooberando é um website que inclue banco de dados e lista de níveis para o jogo Genshin Impact. 
              <br>
              O jogo está disponível para PC, Switch, Playstation 4 e aplicativo de jogo mobile no iOS e Android.
            </p>
          </div>
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Links da Comunidade</h4>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-facebook-f"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-twitter"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-linkedin-in"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-dribbble"></i
            ></a>
          </div>
          <!-- Footer About Text-->
          <!-- <div class="col-lg-4">
            <img src="../assets/img/genshin/characters/diluc/dilucLarge.png" class="footerImg" alt="Diluc">
          </div> -->
        </div>
      </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
      <div class="container"><small>Copyright ©</small></div>
    </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
      <a
        class="js-scroll-trigger d-block text-center text-white rounded"
        href="#page-top"
        ><i class="fa fa-chevron-up"></i
      ></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="../assets/mail/jqBootstrapValidation.js"></script>
    <script src="../assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
  </body>
</html>
