<!DOCTYPE html>
<html lang="pt">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MS3SPVX");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Site sobre Games e Jogos" />
    <meta name="author" content="Ramon Barros" />
    <title>Nooberando</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <link href="../css/index.css" rel="stylesheet" />
    <link href="../css/character.css" rel="stylesheet" />
    <style>
      #more {display: none;}
      </style>
    <script
      data-ad-client="ca-pub-2764098734610196"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
  </head>
  <body id="page-top">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MS3SPVX"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->‰
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="../index.html"
          >Nooberando</a
        >
        <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top"
          >Nooberando</a
        > -->
        <button
          class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#biografia"
                >Biografia</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#combate"
                >Talentos</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#constelacoes"
                >Constelaçōes</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#build"
                >Build</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#ascension"
                >Ascençāo</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br>  
    <img src="../assets/img/genshinSix.jpg" class="testImg" alt="">
    <div class="container">     
      <img class="charImg" src="../assets/img/genshin/characters/venti/ventiLarge.png" alt="venti">
    </div>
    <header class="masthead bg-custom text-white text-center" style="clear: both;">
      <!-- Masthead Heading-->
      <section class="page-section portfolio" id="personagem">
        
        <div class="container">
          
          <a class="arrow-down js-scroll-trigger" href="#personagem"></a>
          <div class="card bg-dark mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../assets/img/genshin/characters/venti/ventiCard.jpg" class="card-img" style="width: 60%; margin-top: 1em;" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Venti</h5>
                  <p class="card-text">
                    <table class="table table-striped table-dark" style="color: white;">
                      <tbody>
                        <tr>
                          <th scope="col"><span >Aniversário:</span></th>
                          <th scope="col" style="text-align: right;">16/6</th>
                        </tr>
                        <tr>
                          <th scope="col">Afiliaçāo:</th>
                          <th scope="col" style="text-align: right;">Archons</th>
                        </tr>
                        <tr>
                          <th scope="col">Elemento:</th>
                          <th scope="col" style="text-align: right; color: #28a745;">Anemo<img src="../assets/img/genshin/elements/anemo.png" class="ml-2" style="width: 1.5em;" alt=""></th>
                        </tr>
                        <tr>
                          <th scope="col">Constelaçāo:</th>
                          <th scope="col" style="text-align: right;">Carmen Dei</th>
                        </tr>
                        <tr>
                          <th scope="col">Raridade:</th>
                          <th scope="col" style="text-align: right;">
                            <!-- Icon Divider-->
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                            <i class="fas fa-star" style="color: #D4AF37;"></i>
                          </th>
                        </tr>
                        <tr>
                          <th scope="col">Arma:</th>
                          <th scope="col" style="text-align: right;">Arco</th>
                        </tr>
                      </tbody>
                    </table>
                  </p>
                  <p class="card-text"><small class="text-muted">
                    A verdadeira personalidade de Venti é a de Barbatos, o Deus Anemo e um dos sete Arcontes de Teyvat.
                  </small></p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>
    </header>
    <section class="masthead bg-dark text-white text-center" style="clear: both;">
      <!-- Masthead Heading-->
      <div class="page-section portfolio" id="biografia">
        
        

        <div class="container">
          <div class="" style="text-align: left"> 
            <h1 class="page-section-heading text-center text-uppercase text-white mb-4 mt-5" id="#biografia">
              Biografia:
            </h1>
              <br>
          </div>
          
          <div class="row mt-5 container">
            <div class="card-deck mt-5">
              <div class="card text-white bg-dark">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Introduçāo</h5>
                  <p class="card-text">
                    Um bardo que parece ter chegado por algum vento desconhecido - às vezes canta canções 
                    tão antigas quanto as colinas, e outras vezes canta poemas novos e novos. Gosta de maçãs 
                    e de lugares animados, mas não é fã de queijo ou qualquer coisa pegajosa. Ao usar seu poder 
                    Anemo para controlar o vento, muitas vezes aparece como penas, pois ele gosta do que parece leve e arejado.</p>
                </div>
              </div>
              <div class="card text-white bg-dark">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Personalidade</h5>
                  <p class="card-text">
                    Venti tem uma atitude bastante travessa, e gosta de rimar na fala que, no entanto, se for mandado parar, 
                    ele parará imediatamente. Ele vê um certo valor na música a ponto de nomear sua própria lira, dizendo "todo 
                    ser merece um nome para ser invocado e tecido em uma canção". Ele também é bastante ousado, mostrado muitas 
                    vezes tanto no mangá quanto no jogo, não temendo insultar ou ignorar aqueles que são supostamente poderosos.
                </div>
              </div>
              <div class="card text-white bg-dark">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Aparência</h5>
                  <p class="card-text">
                    Venti tem pele clara, olhos cor de água e uma constituição esguia. Ele tem cabelo azul escuro que beira o preto, 
                    com tranças gêmeas curtas que desbotam em uma cor aqua que brilha em ciano brilhante ao lançar magia.
                    
                    Ele usa uma blusa branca com babados com uma cintura de couro parecida com um espartilho, <span id="dots"></span><span id="more">junto com shorts azul-petróleo 
                    com bordados dourados e uma capa azul-petróleo combinando presa por um laço azul profundo e dourado.
                    
                    Venti também usa meias brancas com 3 diamantes de ouro em cada perna e um chapéu em forma de boina com uma Cecília, 
                    que é sua flor favorita. Ele carrega uma lira de madeira com cordas azuis imbuídas com o poder de Anemo.</p>
                  </span>
                  <button onclick="myFunction()" id="myBtn" class="btn btn-primary">Read more</button> 
                </div>
              </div>
            </div>
            <img
              class="masthead-avatar mt-5"
              src="../assets/img/genshin/characters/venti/ventiGame.jpg"
              style="border-radius: 10px"
              alt=""
            />
            <div class="container">
              <div class="card bg-dark mb-3 mt-5" style="max-width: 100%;">
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <div class="card-body">
                      <h5 class="card-title">Conto Um</h5>
                      <p class="card-text">Na época em que o bardo viajante Venti estava em Mondstadt há apenas alguns meses, sua renda era muito menor do que a dos outros bardos mais estabelecidos da cidade. Mas assim que ele tivesse alguns Mora na panela de sua apresentação, você podia ter certeza que ele se apressaria para gastá-los no mesmo lugar todas as vezes - uma das tabernas da cidade.

                        Infelizmente para Venti, sua aparência infantil significava que suas tentativas de adquirir álcool falhavam a cada passo.
                        
                        A primeira vez que lhe foi recusado o serviço, foi ouvido resmungando: "Tenho certeza de que não havia tais regulamentos absurdos da última vez que estive aqui ..." Assim que percebeu que a mesma regra se aplicava a todas as tabernas da cidade, ele decidiu que teria que mudar sua abordagem ... A estratégia que ele desenvolveu foi beber no trabalho - ou seja, tocar a lira enquanto segurava seu copo de vinho na boca, instando o público a comprar uma bebida para ele no bar, se quisesse seu desempenho em vez de dar-lhe Mora.
                        
                        A novidade tornou-o bastante popular em Mondstadt.
                        
                        Havia apenas um obstáculo - ele não conseguia evitar espirrar se um gato se aproximasse ... E se ele estivesse segurando uma taça de vinho na boca quando acontecesse ... desnecessário dizer, seria um desastre.
                        
                        Venti, portanto, tem uma regra de ouro ao selecionar um local para atuar, que é que não deve haver gatos nas proximidades.
                        
                        É mais fácil falar do que fazer - os gatos vadios de Mondstadt parecem se sentir atraídos por ele.
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="masthead bg-custom text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="combate">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#combate">
            Talentos de Combate:
          </h1>          
          <br><br>
          <div class="card-deck mt-4">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/venti/divineMarksmanship.png" class="" style="width: 30%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Tiro Divino</h5>
                <p class="card-text" style="color: #1abc9c; font-weight: 600">
                  Ataque Normal:
                </p>
                <p class="card-text">
                  Executa até 6 tiros consecutivos com um arco.
                </p>
                <p class="card-text" style="color: #1abc9c; font-weight: 600">
                  Ataque Carregado:
                </p>
                <p class="card-text">
                  Execute um tiro certeiro mais preciso com Dano aumentado.
                  Enquanto mira, ventos favoráveis ​​se acumulam na ponta da flecha. 
                  Uma flecha totalmente carregada irá lidar com <span style="color: #28a745;">Dano Anemo</span>.
                </p>
                <p class="card-text" style="color: #1abc9c; font-weight: 600">
                  Ataque Imersivo:
                </p>
                <p class="card-text">
                  Dispara uma chuva de flechas no ar antes de cair e atingir o solo, distribuindo Dano de AdE no impacto.
                </p>
              </div>
              <table class="table table-striped table-dark" style="color: white;">
                <tbody>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 1º Golpe</th>
                    <th scope="col" style="text-align: right;">20.4% + 20.4%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 2º Golpe</th>
                    <th scope="col" style="text-align: right;">44.4%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 3º Golpe</th>
                    <th scope="col" style="text-align: right;">52.4%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 4º Golpe</th>
                    <th scope="col" style="text-align: right;">26.1% + 26.1%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 5º Golpe</th>
                    <th scope="col" style="text-align: right;">50.7%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de 6º Golpe</th>
                    <th scope="col" style="text-align: right;">71%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Disparo com Mira</th>
                    <th scope="col" style="text-align: right;">43.9%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Disparo com Mira com Energização Completa</th>
                    <th scope="col" style="text-align: right;">124%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano Durante a Queda</th>
                    <th scope="col" style="text-align: right;">56.8%</th>
                  </tr>
                  <tr>
                    <th scope="col" style="text-align: left;">Dano de Queda de <br> Alta/Baixa Altitude</th>
                    <th scope="col" style="text-align: right;">114% / 142%</th>
                  </tr>
                </tbody>
              </table>
              <div class="card-footer">
                <small class="">Ataque Normal</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/venti/skywardSonnet.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Soneto para o Céu</h5>
                <p class="card-text">Ó vento sobre o qual todos os hinos e canções voam, leve esses caminhantes da Terra para o céu!
                </p>
                <p class="card-text" style="color: #1abc9c; font-weight: 600;">Manter Pressionado
                  <p class="card-text">Invoca um Domínio do Vento ainda maior com Venti como epicentro, lidando com <span style="color: #28a745;">Dano Anemo AdE</span> e lançando inimigos afetados no ar.
                    Depois de liberar a versão Hold dessa habilidade, Venti monta o vento no ar.
                  </p>
                  <p class="card-text">
                    Os inimigos atingidos pelo <span style="color: #1abc9c;">Soneto para o Céu</span> cairão no chão lentamente.
                  </p>
                </p>
                  <table class="table table-striped table-dark" style="color: white;">
                    <tbody>
                      <tr>
                        <th scope="col" style="text-align: left;">Dano Apertado</th>
                        <th scope="col" style="text-align: right;">276%</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Tempo de Recarga (apertado)</th>
                        <th scope="col" style="text-align: right;">6s</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Dando Pressionado</th>
                        <th scope="col" style="text-align: right;">380%</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Tempo de Recarga (pressionado)</th>
                        <th scope="col" style="text-align: right;">15s</th>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="card-footer">
                <small class="">Habilidade Elemental</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/venti/windsGrandOde.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Grande Ode do Vento</h5>
                <p class="card-text">Dispara uma flecha feita de incontáveis ​​ventos unidos, criando um enorme Stormeye que 
                  suga objetos e inimigos ao longo de seu caminho, lidando continuamente com <span style="color: #28a745;">Dano Anemo</span>.</p>
                  <p class="card-text" style="color: #1abc9c; font-weight: 600;">Absorção Elemental</p>
                  <p class="card-text">Se o Olho da Tempestade entrar em contato com os elementos Hydro / Pyro / Cryo / Electro, ele gerará Dano elementar adicional desse tipo.
                    A absorção elementar pode ocorrer apenas uma vez por uso.</p>
                  <table class="table table-striped table-dark" style="color: white;">
                    <tbody>
                      <tr>
                        <th scope="col" style="text-align: left;">Dano ao Longo do Tempo</th>
                        <th scope="col" style="text-align: right;">47%</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Dano Elemental Adicional</th>
                        <th scope="col" style="text-align: right;">23.5%</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Duração</th>
                        <th scope="col" style="text-align: right;">8s</th>
                      </tr>
                      <tr>
                        <th scope="col" style="text-align: left;">Energia Elemental</th>
                        <th scope="col" style="text-align: right;">60</th>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="card-footer">
                <small class="">Explosāo Elemental</small>
              </div>
            </div>
          </div>
          <br><br>
          <div class="container">
            <h1 class="page-section-heading text-center text-uppercase text-white mb-4 mt-5" id="#passivo">
              Talentos Passivos:
            </h1> 
            <br><br>
            <div class="card-deck mt-4">
              <div class="card text-white bg-dark">
                <img src="../assets/img/genshin/characters/venti/embraceOfWinds.png" class="" style="width: 30%; margin: auto;"  alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c;">Abraço dos Ventos</h5>
                  <p class="card-text">Segurar <span style="color: #1abc9c;">Soneto para o Céu</span> cria uma corrente ascendente que dura 20s.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Desbloqueado na Ascensão 1</small>
                </div>
              </div>
              <div class="card text-white bg-dark">
                <img src="../assets/img/genshin/characters/venti/stormeye.png" class="" style="width: 30%; margin: auto;" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c;">Olho da Tempestade</h5>
                  <p class="card-text">Regenera 15 de energia para Venti após os efeitos da <span style="color: #1abc9c;">Grande Ode do Vento</span>.
                    Se ocorrer uma absorção elementar, isso também restaura 15 de energia para todos os personagens daquele elemento correspondente.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Desbloqueado na Ascensão 4</small>
                </div>
              </div>
              <div class="card text-white bg-dark">
                <img src="../assets/img/genshin/characters/venti/windrider.png" class="" style="width: 30%; margin: auto;" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Cavaleiro do Vento</h5>
                  <p class="card-text">Diminui o consumo de energia de todos os membros do grupo em 20%.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Desbloqueado Automaticamente</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-dark text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="constelacoes">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#constelacoes">
            Constelaçōes:
          </h1> 
          <br><br>
          <div class="card-deck mt-5">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/venti/splittingGale.png" class="" style="width: 30%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c;">Vendaval da Divisão</h5>
                <p class="card-text">Dispara 2 flechas adicionais por tiro certeiro, cada uma dando 33% do Dano da flecha original.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Constelaçāo Nível 1</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/venti/breezeOfReminiscence.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c;">Brisa da Reminiscência</h5>
                <p class="card-text"><span style="color: #1abc9c;">Skyward Sonnet</span> diminui a RES <span style="color: #28a745;">Anemo</span> do inimigo em 12% por 10s.
                  Os inimigos lançados pelo <span style="color: #1abc9c;">Skyward Sonnet</span> sofrem uma redução 
                  adicional de 12% no RES do <span style="color: #28a745;">Anemo</span> e no RES física durante o vôo.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Constelaçāo Nível 2</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/venti/odeToThousandWinds.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c;">Ode aos Mil Ventos</h5>
                <p class="card-text">Aumenta o Nível da <span style="color: #1abc9c;">Wind's Grand Ode</span> em 3.
                  O nível máximo de atualização é 15.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Constelaçāo Nível 3</small>
              </div>
            </div>
          </div>
          <div class="card-deck mt-5">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/venti/hurricaneOfFreedom.png" class="" style="width: 30%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c;">Furacão da Liberdade</h5>
                <p class="card-text">Quando Venti pega um Orbe ou Partícula Elemental, ele recebe um Bônus <span style="color: #28a745;">Dano Anemo</span> de 25% por 10s.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Constelaçāo Nível 4</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/venti/conciertoDalCielo.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c;">Concierto del Cielo</h5>
                <p class="card-text">Aumente o nível do <span style="color: #1abc9c;">Skyward Sonnet</span> em 3.
                  O nível máximo de atualização é 15.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Constelaçāo Nível 5</small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/venti/stormOfDefiance.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Tempestade de Desafio</h5>
                <p class="card-text">Os alvos que pegam DMG do <span style="color: #1abc9c;">Wind's Grand Ode</span> têm seu RES do <span style="color: #28a745;">Anemo</span> reduzido em 20%.
                  Se ocorrer uma absorção elementar, então seu RES em direção ao elemento correspondente também é reduzido em 20%.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Constelaçāo Nível 6</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-custom text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="build">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-5" id="#build">
            Melhores Builds:
          </h1>  
          <br><br>
          <div class="card-deck">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/elements/anemo.png" class="mt-4" style="width: 20%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Build de Suporte</h5>
                <p class="card-text">Esta construção aumenta os danos do Anemo e do Redemoinho de Venti, ao mesmo tempo que reduz a RES Elemental dos inimigos para o resto do seu grupo.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><span style="color: #28a745;">Anemo</span></small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/fischl/theStringless.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">The Stringless</h5>
                <p class="card-text">Aumenta a habilidade elemental e o Dano de explosão elemental em <span style="color: #17a2b8; font-weight: 600;">24/30/36/42/48%</span>.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                </small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/venti/Item_Viridescent_Venerer_5-star.png" class="mt-4" style="width: 20%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c; font-weight: 600">Viridescent Venerer</h5>
                <p class="card-text">(2) Dano Bonús de Anemo +15% <br><br>
                  (4) Aumenta o Dano do Redemoinho em 60%. Diminui a RES Elemental do oponente para o elemento infundido no Redemoinho em 40% por 10s.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Conjuntos de Artefatos</small>
              </div>
            </div>
          </div>
          <div class="divider-custom divider-light mt-5">
            <div class="divider-custom-line"></div>
            <h5>OU</h5>
            <div class="divider-custom-line"></div>
          </div>
          <div class="card-deck  mt-5">
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/elements/anemo.png" class="mt-4" style="width: 20%; margin: auto;"  alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c;">Build de Disparo com Mira</h5>
                <p class="card-text">A ideia por trás dessa construção é disparar um tiro poderoso e totalmente carregado 
                  com Venti a cada 10 segundos, aproveitando as 2 flechas extras de sua primeira constelação, Splitting Gale.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><span style="color: #28a745;">Anemo</span></small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/venti/royalBow.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c;">Royal Bow</h5>
                <p class="card-text">Ao causar dano a um oponente, aumenta a taxa de CRIT em 8%. Máximo de 5 pilhas. Um acerto de CRIT remove todas as pilhas.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                </small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/venti/sharpshootersOath.png" class="" style="width: 30%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c;">Sharpshooter's Oath</h5>
                <p class="card-text">Aumenta o DMG contra os pontos fracos em <span style="color: #17a2b8; font-weight: 600;">24/30/36/42/48%</span>.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                  <img src="../assets/img/genshin/characters/diluc/skillStar.png" alt="">
                </small>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <img src="../assets/img/genshin/characters/venti/Item_Wanderer_Troupe_5-star.png" class="mt-4" style="width: 20%; margin: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #1abc9c;">Wanderer's Troupe</h5>
                <p class="card-text">(2) Maestria Elemental +80 <br><br>
                  (4) Aumenta o Dano de Ataque Carregado em 35% se o personagem usar um Catalyst ou Bow.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Conjuntos de Artefatos</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="masthead bg-dark text-white text-center" style="clear: both;"> 
      <div class="page-section portfolio" id="ascension">
        <div class="container">
          <h1 class="page-section-heading text-center text-uppercase text-white mb-4" id="#ascension">
            Ascensão:
          </h1>  
          <br><br>
          <div class="ml-2 mr-2 table-responsive">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Ascensão</th>
                  <th scope="col">Max Lv.</th>
                  <th scope="col"><img src="../assets/img/genshin/mora.png" alt=""></th>
                  <th scope="col">Material Elemental 1</th>
                  <th scope="col">Material Elemental 2</th>
                  <th scope="col">Especialidade Local</th>
                  <th scope="col">Material Comum</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="align-middle" scope="row">1st</th>
                  <td class="align-middle">20</td>
                  <td class="align-middle">20.000</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Vayuda_Turquoise_Sliver.png" alt="Vayuda_Turquoise_Sliver"><br><br>Prata Turquesa Vayuda x1</td>
                  <td class="align-middle">Nenhum</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Cecilia.png" alt="CorLapis"><br><br>Cecília x3</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Slime_Condensate.png" alt="DamagedMask"><br><br>COndensaçāo de Slime x3</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">2nd</th>
                  <td class="align-middle">40</td>
                  <td class="align-middle">40.000</td>
                  <td><img src="../assets/img/genshin/characters/jean/Item_Vayuda_Turquoise_Fragment.png" alt="ShivadaJadeFragment"><br><br>Fragmento de Turquesa Vayuda x3</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Hurricane_Seed.png" alt="ShivadaJadeFragment"><br><br>Semente de Furacāo x2</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Cecilia.png" alt="CorLapis"><br><br>Cecília x10</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Slime_Condensate.png" alt="DamagedMask"><br><br>COndensaçāo de Slime x15</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">3rd</th>
                  <td class="align-middle">50</td>
                  <td class="align-middle">60.000</td>
                  <td><img src="../assets/img/genshin/characters/jean/Item_Vayuda_Turquoise_Fragment.png" alt="ShivadaJadeFragment"><br><br>Fragmento de Turquesa Vayuda x6</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Hurricane_Seed.png" alt="ShivadaJadeFragment"><br><br>Semente de Furacāo x4</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Cecilia.png" alt="CorLapis"><br><br>Cecília x20</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Slime_Secretions.png" alt="DamagedMask"><br><br>Gota de Slime x12</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">4th</th>
                  <td class="align-middle">60</td>
                  <td class="align-middle">80.000</td>
                  <td><img src="../assets/img/genshin/characters/jean/Item_Vayuda_Turquoise_Chunk.png" alt="ShivadaJadeFragment"><br><br>Pedaço de Turquesa Vayuda x3</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Hurricane_Seed.png" alt="ShivadaJadeFragment"><br><br>Semente de Furacāo x8</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Cecilia.png" alt="CorLapis"><br><br>Cecília x30</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Slime_Secretions.png" alt="DamagedMask"><br><br>Gota de Slime x18</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">5th</th>
                  <td class="align-middle">70</td>
                  <td class="align-middle">240.000</td>
                  <td><img src="../assets/img/genshin/characters/jean/Item_Vayuda_Turquoise_Chunk.png" alt="ShivadaJadeFragment"><br><br>Pedaço de Turquesa Vayuda x6</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Hurricane_Seed.png" alt="ShivadaJadeFragment"><br><br>Semente de Furacāo x12</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Cecilia.png" alt="CorLapis"><br><br>Cecília x45</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Slime_Concentrate.png" alt="DamagedMask"><br><br>Essência de Slime x16</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">6th</th>
                  <td class="align-middle">80</td>
                  <td class="align-middle">?</td>
                  <td><img src="../assets/img/genshin/characters/jean/Item_Vayuda_Turquoise_Gemstone.png" alt="ShivadaJadeFragment"><br><br>Gema de de Turquesa Vayuda x6</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Hurricane_Seed.png" alt="ShivadaJadeFragment"><br><br>Semente de Furacāo x20</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Cecilia.png" alt="CorLapis"><br><br>Cecília x60</td>
                  <td><img src="../assets/img/genshin/characters/venti/Item_Slime_Concentrate.png" alt="DamagedMask"><br><br>Essência de Slime x24</td>
                </tr>
                <tr>
                  <th class="align-middle" scope="row">Máximo</th>
                  <td class="align-middle">90</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                  <td class="align-middle">Max</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer-->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Nooberando</h4>
            <p class="lead mb-0" style="text-align: left;"> 
              O Nooberando não é afiliado ou endossado pela miHoYo. 
              <br>
              Nooberando é um website que inclue banco de dados e lista de níveis para o jogo Genshin Impact. 
              <br>
              O jogo está disponível para PC, Switch, Playstation 4 e aplicativo de jogo mobile no iOS e Android.
            </p>
          </div>
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Links da Comunidade</h4>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-facebook-f"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-twitter"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-linkedin-in"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"
              ><i class="fab fa-fw fa-dribbble"></i
            ></a>
          </div>
          <!-- Footer About Text-->
          <!-- <div class="col-lg-4">
            <img src="../assets/img/genshin/characters/diluc/dilucLarge.png" class="footerImg" alt="Diluc">
          </div> -->
        </div>
      </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
      <div class="container"><small>Copyright ©</small></div>
    </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
      <a
        class="js-scroll-trigger d-block text-center text-white rounded"
        href="#page-top"
        ><i class="fa fa-chevron-up"></i
      ></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="../assets/mail/jqBootstrapValidation.js"></script>
    <script src="../assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
    <!-- Read More -->
    <script>
      function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");
      
        if (dots.style.display === "none") {
          dots.style.display = "inline";
          btnText.innerHTML = "Read more"; 
          moreText.style.display = "none";
        } else {
          dots.style.display = "none";
          btnText.innerHTML = "Read less"; 
          moreText.style.display = "inline";
        }
      }
      </script>
  </body>
</html>
